<section class="privacy-policy-section">
  <div class="wrapper">
    <div class="heading">
      <h2>Privacy & Policy</h2>
    </div>
  </div>
  <div class="content">
    <div class="content-wrap">
      <p>
        Welcome to the Privacy Policy of Nectar+ Healthcare LLP ("Nectar+
        Healthcare" or "we"). Our mission is to protect your privacy and
        personal information. By using our services or providing us with your
        information, you are agreeing to the practices and policies outlined in
        this Privacy Policy, and you will be bound by its terms. Please take the
        time to read and understand this policy.
      </p>
      <div class="text-purple mt-3">
        Consent to Data Collection, Use, and Sharing
      </div>
      <p class="mt-3">
        By using our Services or giving us your information, you consent to the
        collection, use, and sharing of your data as described in this Privacy
        Policy. We may collect personal information,- health-related data, and
        usage information to provide you with our healthcare services and
        improve your experience with us.
      </p>
      <div class="text-purple mt-3">Changes to the Privacy Policy</div>
      <p class="mt-3">
        We reserve the right to modify, add, or delete portions of this Privacy
        Policy at our sole discretion, at any time. It is your responsibility to
        review this Privacy Policy periodically to stay informed about any
        changes. Your continued use of our Services or provision of information
        following any updates constitutes your acceptance of the revised Privacy
        Policy.
      </p>
      <div class="text-purple mt-3">Representation for Third Parties</div>
      <p class="mt-3">
        If you use our Services on behalf of someone else (e.g., your child) or
        an entity (e.g., your employer), you confirm that you are authorized by
        such individual or entity to
      </p>
      <p class="mt-3">
        (i) accept this Privacy Policy on their behalf, and <br />
        (ii) consent on their behalf to our collection, use, and disclosure of
        their information as described in this Privacy Policy.
      </p>

      <div class="text-purple mt-3">Contact Us</div>
      <p class="mt-3">
        If you have any questions, concerns, or requests regarding this Privacy
        Policy or our data practices, please contact us at [email address]. Your
        privacy is important to us, and we are here to assist you.
      </p>
      <p class="mt-3">
        Thank you for choosing Nectar Plus Healthcare LLP. We are dedicated to
        protecting your privacy and providing you with excellent healthcare
        services.
      </p>

      <div class="text-purple mt-5">Privacy Policy - Introduction</div>
      <label class="mt-3">1. WHY THIS PRIVACY POLICY?</label>

      <p class="mt-3">
        At Nectar Plus Healthcare LLP Technologies Private Limited ("us," "we,"
        or "Nectar Plus Healthcare LLP," including its affiliates), we are
        committed to protecting your privacy and personal information. This
        Privacy Policy is published in accordance with the Information
        Technology Act, 2000, and other relevant regulations, including the
        Information Technology (Reasonable Security Practices and Procedures and
        Sensitive Personal Information) Rules, 2011, and the Information
        Technology (Intermediaries Guidelines) Rules, 2011.
      </p>
      <div class="text-purple mt-3">Purpose of this Privacy Policy</div>
      <p class="mt-3">
        This Privacy Policy explains how we collect, use, share, disclose, and
        protect personal information concerning the Users of our Services. This
        includes Practitioners (as defined in the Terms of Use), End-Users (as
        defined in the Terms of Use), and visitors of our Website. We aim to
        demonstrate our commitment to safeguarding your privacy and personal
        information.
      </p>
      <div class="text-purple mt-3">Scope of the Privacy Policy</div>
      <span class="mt-3" style="display: block">
        This Privacy Policy outlines:
      </span>
      <ul class="mt-3">
        <li>
          The type of information collected from Users, including Personal
          Information (as defined in paragraph 2 below) and Sensitive Personal
          Data or Information (as defined in paragraph 2 below) relating to an
          individual.
        </li>
        <li>
          The purpose, means, and modes of collection, usage, processing,
          retention, and destruction of such information.
        </li>
        <li>
          How and to whom Nectar Plus Healthcare LLP will disclose such
          information.
        </li>
        <li>Defining Personal Information and Sensitive Personal Data</li>
      </ul>
      <p>
        In this Privacy Policy, "Personal Information" refers to any information
        that can identify an individual or relates to an identifiable
        individual. "Sensitive Personal Data or Information" includes personal
        information related to passwords, financial information, physical or
        mental health condition, sexual orientation, medical records, or
        biometric data.
      </p>

      <div class="text-purple mt-3">Data Collection and Usage</div>
      <p class="mt-3">
        We collect and use the information you provide to us while using our
        Services in a manner consistent with the purpose for which it was
        provided. This information may include Personal Information and
        Sensitive Personal Data or Information, and it helps us offer
        personalized and improved services to you.
      </p>
      <div class="text-purple mt-3">Data Disclosure</div>
      <p class="mt-3">
        We may share your information with third parties in accordance with the
        applicable laws and regulations or with your consent. The disclosure of
        information may be necessary for providing our Services or to comply
        with legal obligations.
      </p>

      <div class="text-purple mt-3">Retention and Destruction</div>
      <p class="mt-3">
        We retain your personal information only as long as necessary to fulfill
        the purposes outlined in this Privacy Policy or as required by law. Once
        the information is no longer needed, we take appropriate measures to
        securely destroy or anonymize it.
      </p>

      <div class="text-purple mt-3">Security Measures</div>
      <p class="mt-3">
        We implement reasonable security practices and procedures to protect
        your personal information from unauthorized access, disclosure,
        alteration, or destruction.
      </p>

      <div class="text-purple mt-3">Terms of Use</div>
      <p class="mt-3">
        Your use of and access to our Services are subject to this Privacy
        Policy and our Terms of Use, which can be accessed. Any capitalized term
        used but not defined in this Privacy Policy shall have the meaning
        attributed to it in our Terms of Use.
      </p>

      <p class="mt-3">
        For any questions, concerns, or requests related to this Privacy Policy,
        please contact us at
        <span class="text-purple"> info&#64;nectarplus.health</span>.
      </p>
      <p class="mt-3">
        Thank you for trusting Nectar Plus Healthcare LLP with your information.
        We value your privacy and strive to provide you with the best possible
        experience while using our Services.
      </p>

      <label class="mt-5">2. COLLECTION OF PERSONAL INFORMATION </label>
      <p class="mt-3">
        Nectar Plus Healthcare LLP may collect the following personal
        information from you:
      </p>
      <ul class="mt-3">
        <li>Contact data, such as your email address and phone number.</li>
        <li>
          Nectar+ Healthcare values your privacy and is committed to maintaining
          the confidentiality of your personal information. In addition to
          protecting your individual data, we may also leverage aggregated and
          non-personally identifiable information for various research,
          statistical analysis, and business intelligence purposes. This allows
          us to improve our products and services, as well as contribute to the
          advancement of healthcare technologies.
        </li>
      </ul>
      <p class="mx-3 mt-3">
        We assure you that any information used in these processes will be
        anonymized, preventing any identification of specific individuals. The
        purposes for which we use anonymized End-User demographics information
        and health data include:
      </p>

      <p class="mx-3 mt-3">
        <span> 1. Enhancing Product Design and Utility:</span> By analyzing
        software usage patterns, we can identify areas for improvement in our
        products, making them more user-friendly and efficient.
      </p>
      <p class="mx-3 mt-3">
        <span> 2.Advancing Research and Development:</span> We may use the
        aggregated data to drive research and development efforts towards
        creating innovative technologies that address various healthcare needs.
      </p>
      <p class="mx-3 mt-3">
        <span> 3.Improving Commercial Product Offerings: </span> Insights
        derived from the analysis of such information may help us refine and
        expand our commercial product offerings, ensuring they meet the evolving
        demands of our customers.
      </p>
      <p class="mx-3 mt-3">
        <span>4. Collaborating with Third Parties:</span> Occasionally, we may
        share anonymized analysis with trusted third parties for commercial use.
        This collaboration fosters collective advancements in healthcare and
        contributes to the overall betterment of the industry. Rest assured, all
        information used in these processes is stripped of any personally
        identifiable details, ensuring complete anonymity and compliance with
        privacy regulations.
      </p>
      <p class="mx-3 mt-3">
        At Nectar+ Healthcare, we prioritize your privacy and strive to leverage
        data responsibly to create a more innovative, efficient, and effective
        healthcare ecosystem.
      </p>

      <p class="mx-3 mt-3">
        1. Demographic data, such as your gender, date of birth, and pin code.
      </p>
      <p class="mx-3 mt-3">
        2. Information about your use of the Services, such as the pages you
        visit and the appointments you make.
      </p>
      <p class="mx-3 mt-3">
        3. Insurance data, such as your insurance carrier and insurance plan.
      </p>
      <p class="mx-3 mt-3">
        4. Other information that you voluntarily provide to us, such as
        information shared through emails or letters.
      </p>
      <p class="mt-3">
        The information collected from you by Nectar Plus Healthcare LLP may
        constitute ‘personal information’ or ‘sensitive personal data or
        information’ under the SPI Rules.
      </p>

      <ul class="mt-3">
        <li>
          Personal Information is defined under the SPI Rules to mean any
          information that relates to a natural person, which, either directly
          or indirectly, in combination with other information available or
          likely to be available to a body corporate, is capable of identifying
          such a person.
        </li>
        <li class="mt-3">
          Sensitive Personal Data or Information of a person is defined as
          personal information about that person relating to:
          <ul class="mt-3">
            <li>Passwords</li>
            <li>
              Financial information such as bank accounts, credit and debit card
              details or other payment instrument details
            </li>
            <li>Physical, physiological and mental health condition</li>
            <li>Sexual orientation</li>
            <li>Medical records and history</li>
            <li>Biometric information</li>
            <li>
              Information received by body corporate under lawful contract or
              otherwise
            </li>
            <li>
              Visitor details as provided at the time of registration or
              thereafter
            </li>
            <li>Call data records</li>
          </ul>
        </li>
      </ul>
      <p class="mt-3">
        Nectar Plus Healthcare LLP will be free to use, collect and disclose
        information that is freely available in the public domain without your
        consent.
      </p>

      <label class="mt-5">3. PRIVACY STATEMENTS</label>
      <div class="text-purple mt-3">3.1 ALL USERS NOTE:</div>

      <ul class="mt-3">
        <li>This section applies to all users.</li>
        <li>
          You agree to the terms of this Privacy Policy when you use the
          Services.
        </li>
        <li>
          You understand that Nectar Plus Healthcare may use your personal
          information for certain purposes.
        </li>
        <li>You can opt-out of receiving non-essential communications.</li>
        <li>
          Nectar Plus Healthcare may require you to pay with a credit card or
          other financial institution information.
        </li>
        <li>
          Nectar Plus Healthcare collects your IP address and other information
          to analyze overall trends.
        </li>
      </ul>
      <span class="mt-3 d-block"
        >3.1.1 Information that Nectar Plus Healthcare may collect:
      </span>

      <ul class="mt-3">
        <li>
          Contact information: This includes your name, email address, phone
          number, and physical address.
        </li>
        <li>
          Demographic information: This includes your gender, date of birth, and
          location.
        </li>
        <li>
          Information about your use of the Services: This includes the pages
          you visit, the appointments you make, and the products or services you
          purchase.
        </li>
        <li>
          Insurance data: This includes your insurance carrier and insurance
          plan.
        </li>
        <li>
          Other information that you voluntarily provide to us: This includes
          information you provide through emails, letters, or other forms of
          communication.
        </li>
      </ul>
      <span class="mt-3 d-block"
        >3.1.2 How Nectar Plus Healthcare may use your information:
      </span>
      <ul class="mt-3">
        <li>
          To provide you with the Services: This includes providing you with
          access to the website, booking appointments, and processing payments.
        </li>
        <li>
          For commercial purposes: This includes using your information for
          research, statistical analysis, and marketing purposes.
        </li>
        <li>
          To comply with laws and regulations: This includes complying with laws
          that require us to collect and store certain types of information.
        </li>
        <li>
          To protect our rights and interests: This includes using your
          information to protect our website from fraud and abuse.
        </li>
        <li>
          With your consent: We may also use your information for other purposes
          with your consent.
        </li>
      </ul>
      <span class="mt-3 d-block">3.1.3 Consent: </span>
      <ul class="mt-3">
        <li>
          You consent to the collection and use of your personal information by
          Nectar Plus Healthcare for the purposes stated above.
        </li>
        <li>
          You can withdraw your consent at any time by contacting Nectar Plus
          Healthcare.
        </li>
      </ul>

      <span class="mt-3 d-block">3.1.4 Accuracy of your information: </span>
      <ul class="mt-3">
        <li>
          You are responsible for maintaining the accuracy of the information
          you submit to us.
        </li>
        <li>
          If your personal information changes, you may correct, delete
          inaccuracies, or amend information by making the change on our member
          information page or by contacting Nectar Plus Healthcare.
        </li>
      </ul>
      <span class="mt-3 d-block">3.1.5 Data retention: </span>
      <ul class="mt-3">
        <li>
          We will retain your information for as long as your account with the
          Services is active and as needed to provide you the Services.
        </li>
        <li>
          We will not retain your information for longer than is required for
          the purposes for which the information may lawfully be used or is
          otherwise required under any other law for the time being in force.
        </li>
        <li>
          After a period of time, your data may be anonymized and aggregated,
          and then may be held by us as long as necessary for us to provide our
          Services effectively, but our use of the anonymized data will be
          solely for analytic purposes.
        </li>
      </ul>
      <span class="mt-3 d-block">3.1.6 Withdrawal of consent: </span>
      <ul class="mt-3">
        <li>
          Your withdrawal of consent, or cancellation of account may result in
          Nectar Plus Healthcare being unable to provide you with its Services
          or to terminate any existing relationship Nectar Plus Healthcare LLP
          may have with you.
        </li>
        <li>
          If you withdraw your consent, we will delete your personal information
          from our active databases as soon as reasonably practicable.
        </li>
      </ul>

      <span class="mt-3 d-block"
        >3.1.7 Contacting Nectar Plus Healthcare:
      </span>
      <ul class="mt-3">
        <li>
          If you have any questions about this Privacy Policy, please contact us
          through Nectar Plus Healthcare email id .
        </li>

        <li>
          We will try our best to answer your questions promptly and to your
          satisfaction.
        </li>
      </ul>

      <span class="mt-3 d-block">3.1.8 Other important information: </span>
      <ul class="mt-3">
        <li>
          Nectar Plus Healthcare may use cookies and other tracking technologies
          to collect information about your use of the Services.
        </li>

        <li>
          Nectar+ Healthcare uses temporary cookies to store certain
          non-sensitive data on your device. This data is used by Nectar+
          Healthcare and its service providers for the technical administration
          of the Website, research and development, and for User administration.
          You can adjust your internet browser to disable cookies. However, if
          you disable cookies, you may still use the Website, but the Website
          may be limited in the use of some of the features.
        </li>
        <li>
          Nectar+ Healthcare does not exercise control over the sites displayed
          as search results or links from within its Services. These other sites
          may place their own cookies or other files on your computer, collect
          data or solicit personal information from you, for which Nectar+
          Healthcare is not responsible or liable. Accordingly, Nectar+
          Healthcare does not make any representations concerning the privacy
          practices or policies of such third parties or terms of use of such
          websites, nor does Nectar+ Healthcare guarantee the accuracy,
          integrity, or quality of the information, data, text, software, sound,
          photographs, graphics, videos, messages or other materials available
          on such websites. The inclusion or exclusion does not imply any
          endorsement by Nectar+ Healthcare of the website, the website's
          provider, or the information on the website. If you decide to visit a
          third party website linked to the Website, you do this entirely at
          your own risk. Nectar+ Healthcare encourages you to read the privacy
          policies of that website.
        </li>
        <li>
          If you have inadvertently browsed any other page of the Website prior
          to reading this privacy statement, and you do not agree with the
          manner in which such information is obtained, collected, processed,
          stored, used, disclosed or retained, you can clear all temporary
          cookies installed by Nectar+ Healthcare by simply quitting your
          browser application. However, all visitors are encouraged to use the
          "clear cookies" functionality of their browsers to ensure such
          clearing/deletion, as Nectar+ Healthcare cannot guarantee, predict or
          provide for the behavior of the equipment of all the visitors of the
          Website.
        </li>
        <li>
          Nectar Plus Healthcare may share your personal information with
          third-party service providers who help us operate the Services.
        </li>
      </ul>

      <span class="mt-3 d-block">3.1.9 </span>
      <ul class="mt-3">
        <li>
          Nectar Plus Healthcare LLP uses cookies to store certain information
          on your computer.
        </li>

        <li>This information is not sensitive personal data or information.</li>
        <li>
          Nectar Plus Healthcare LLP uses this information for technical
          administration of the Website, research and development, and for User
          administration.
        </li>
        <li>You can adjust your internet browser to disable cookies.</li>
      </ul>

      <span class="mt-3 d-block">3.1.10 </span>
      <ul class="mt-3">
        <li>Users can create an account on the Website.</li>

        <li>
          To create an account, you need to provide your name, email address,
          country, ZIP/postal code, age, phone number, password and valid
          financial account information.
        </li>
        <li>
          Other information requested on the registration page is optional.
        </li>
      </ul>

      <span class="mt-3 d-block">3.1.11 </span>
      <ul class="mt-3">
        <li>
          Nectar Plus Healthcare LLP does not control the sites displayed as
          search results or links from within its Services.
        </li>

        <li>
          These other sites may collect data or solicit personal information
          from you.
        </li>
        <li>
          Nectar Plus Healthcare LLP is not responsible for the privacy
          practices or policies of these third parties.
        </li>
      </ul>

      <span class="mt-3 d-block">3.1.12 </span>
      <ul class="mt-3">
        <li>
          The Website may enable you to communicate with other Users or to post
          information to be accessed by others.
        </li>

        <li>
          Nectar Plus Healthcare LLP is not responsible for any reliance or
          misuse of this information.
        </li>
      </ul>

      <span class="mt-3 d-block">3.1.13 </span>
      <ul class="mt-3">
        <li>
          Nectar Plus Healthcare LLP does not collect information about the
          visitors of the Website from other sources.
        </li>

        <li>
          This information is only collected for the purposes of registration of
          the Users.
        </li>
      </ul>

      <span class="mt-3 d-block">3.1.14 </span>
      <ul class="mt-3">
        <li>Nectar Plus Healthcare LLP maintains a "No-Spam" policy.</li>

        <li>
          This means that Nectar Plus Healthcare LLP will not sell, rent or
          otherwise give your e-mail address to a third party without your
          consent.
        </li>
      </ul>

      <span class="mt-3 d-block">3.1.15 </span>
      <ul class="mt-3">
        <li>
          Nectar Plus Healthcare LLP has implemented security policies, rules
          and technical measures to protect your personal data.
        </li>

        <li>
          However, Nectar Plus Healthcare LLP is not liable for any data loss or
          theft due to unauthorized access to your electronic devices.
        </li>
      </ul>

      <span class="mt-3 d-block">3.1.16 </span>
      <ul class="mt-3">
        <li>
          Nectar Plus Healthcare LLP implements reasonable security practices
          and procedures.
        </li>

        <li>
          This includes a comprehensive documented information security
          programme and information security policies.
        </li>
      </ul>
      <span class="mt-3 d-block">3.1.17 </span>
      <ul class="mt-3">
        <li>
          Nectar Plus Healthcare LLP will only disclose your Personal
          Information in the event it is required to do so by law.
        </li>

        <li>
          This includes law enforcement agencies, governmental officials, legal
          authorities or similar requirements.
        </li>
        <li>
          Nectar Plus Healthcare LLP may also disclose your Personal Information
          when it deems it necessary to protect its rights or the rights of
          others.
        </li>
      </ul>

      <div class="text-purple mt-3">3.2 PRACTITIONERS NOTE:</div>
      <p class="mt-3">This section applies to all Practitioners.</p>

      <span class="mt-3 d-block">3.2.1 </span>
      <ul class="mt-3">
        <li>
          Practitioners who use Nectar Plus Healthcare LLP must read and
          understand the privacy statements set out in this Privacy Policy.
        </li>

        <li>
          Nectar Plus Healthcare LLP may collect personal information from
          Practitioners, including their name, contact information, and practice
          information.
        </li>
        <li>
          This information is used to help Practitioners describe and identify
          themselves.
        </li>
        <li>
          Practitioners own their information and consent to Nectar Plus
          Healthcare LLP collecting, using, processing, and/or disclosing this
          information for the purposes hereinafter stated.
        </li>
      </ul>

      <span class="mt-3 d-block">3.2.2</span>
      <ul class="mt-3">
        <li>
          Nectar Plus Healthcare LLP may use Practitioners' personal information
          for commercial purposes and in an aggregated or non-personally
          identifiable form for research, statistical analysis, and business
          intelligence purposes.
        </li>

        <li>
          Nectar Plus Healthcare LLP may also use Practitioners' personal
          information to contact them for offering new products or services,
          taking product feedback, analyzing software usage patterns, and
          analyzing anonymized practice information.
        </li>
      </ul>

      <span class="mt-3 d-block">3.2.3</span>
      <ul class="mt-3">
        <li>
          Nectar Plus Healthcare LLP automatically enables the listing of
          Practitioners' information on its Website for every ‘Doctor’ or
          ‘Clinic’ added to a Practice using its software.
        </li>

        <li>
          The Practitioner information listed on the Website is displayed when
          End-Users search for doctors on Website, and the Practitioner
          information listed on Website is used by End-Users to request for
          doctor appointments.
        </li>
        <li>
          Any personally identifiable information of the Practitioners listed on
          the Website is not generated by Nectar Plus Healthcare LLP and is
          provided to Nectar Plus Healthcare LLP by Practitioners who wish to
          enlist themselves on the Website, or is collected by Nectar Plus
          Healthcare LLP from the public domain.
        </li>
        <li>
          Nectar Plus Healthcare LLP displays such information on its Website on
          an as-is basis making no representation or warranty on the accuracy or
          completeness of the information.
        </li>
        <li>
          As such, Practitioners are encouraged to check the accuracy and
          completeness of their information from time to time, and inform Nectar
          Plus Healthcare LLP immediately of any discrepancies, changes or
          updates to such information.
        </li>
        <li>
          Nectar Plus Healthcare LLP will, however, take reasonable steps to
          ensure the accuracy and completeness of this information.
        </li>
      </ul>

      <span class="mt-3 d-block">3.2.4</span>
      <ul class="mt-3">
        <li>
          Nectar Plus Healthcare LLP may also display information for
          Practitioners who have not signed up or registered for the Services,
          provided that the Practitioners have consented to Nectar Plus
          Healthcare LLP collecting, processing, and/or disclosing their
          information on the Website.
        </li>

        <li>
          Such Practitioners are verified by Nectar Plus Healthcare LLP or its
          associates, and Nectar Plus Healthcare LLP makes every effort to
          capture accurate information for such Practitioners.
        </li>
        <li>
          However, Nectar Plus Healthcare LLP does not undertake any liability
          for any incorrect or incomplete information appearing on the Website
          for such Practitioners.
        </li>
      </ul>

      <div class="text-purple mt-3">3.3 END-USERS NOTE:</div>
      <p class="mt-3">This section applies to all End-Users.</p>

      <span class="mt-3 d-block">3.3.1</span>
      <ul class="mt-3">
        <li>
          End-Users who use Nectar Plus Healthcare LLP must read and understand
          the privacy statements set out in this Privacy Policy.
        </li>

        <li>
          Nectar Plus Healthcare LLP may collect personal information from
          End-Users, including their name, contact information, and health
          information.
        </li>
        <li>
          This information is used to help End-Users describe/identify
          themselves and to improve the Services to meet the needs and
          preferences of End-Users.
        </li>
      </ul>

      <span class="mt-3 d-block">3.3.2</span>
      <ul class="mt-3">
        <li>
          End-Users have the right to access, modify, and delete their personal
          information.
        </li>

        <li>
          End-Users can also request that Nectar Plus Healthcare LLP delete and
          destroy all of their personal information.
        </li>
      </ul>

      <span class="mt-3 d-block">3.3.3</span>
      <ul class="mt-3">
        <li>
          Nectar Plus Healthcare LLP may use End-Users' personal information in
          an aggregated or non-personally identifiable form for research,
          statistical analysis, and business intelligence purposes.
        </li>

        <li>
          Nectar Plus Healthcare LLP may also sell or otherwise transfer such
          research, statistical, or intelligence data in an aggregated or
          non-personally identifiable form to third parties and affiliates.
        </li>
      </ul>

      <span class="mt-3 d-block">3.3.4</span>
      <ul class="mt-3">
        <li>
          Nectar Plus Healthcare LLP may communicate with End-Users through
          email, phone, and notices posted on the Website.
        </li>

        <li>
          End-Users can change their e-mail and contact preferences at any time.
        </li>
      </ul>

      <span class="mt-3 d-block">3.3.5</span>
      <ul class="mt-3">
        <li>
          Nectar Plus Healthcare LLP may conduct surveys to collect information
          about End-Users' preferences.
        </li>

        <li>
          The demographic information that Nectar Plus Healthcare LLP collects
          is used to help Nectar Plus Healthcare LLP improve the Services to
          meet the needs and preferences of End-Users.
        </li>
      </ul>

      <span class="mt-3 d-block">3.3.6</span>
      <ul class="mt-3">
        <li>
          This information is used for administration of Services, customer
          support, research and development, and for better listing of
          Practitioners.
        </li>
      </ul>

      <span class="mt-3 d-block">3.3.7</span>
      <ul class="mt-3">
        <li>
          Nectar Plus Healthcare LLP has put in place procedures and
          technologies to maintain the security of all personal data.
        </li>
        <li>
          Nectar+ Healthcare may also disclose or transfer End-Users’ personal
          and other information provided by a User, to a third party as part of
          reorganization or a sale of the assets of a Nectar+ Healthcare
          corporation division or company. Any third party to which Nectar+
          Healthcare transfers or sells its assets to will have the right to
          continue to use the personal and other information that End-Users
          provide to us, in accordance with the Terms of Use
        </li>
      </ul>

      <span class="mt-3 d-block">3.3.8</span>
      <ul class="mt-3">
        <li>
          Nectar Plus Healthcare LLP may disclose or transfer End-Users'
          personal information to a third party as part of reorganization or a
          sale of the assets of a Nectar Plus Healthcare LLP corporation
          division or company.
        </li>
        <li>
          Any third party to which Nectar Plus Healthcare LLP transfers or sells
          its assets to will have the right to continue to use the personal and
          other information that End-Users provide to us, in accordance with the
          Terms of Use.
        </li>
      </ul>

      <span class="mt-3 d-block">3.3.9</span>
      <ul class="mt-3">
        <li>
          To the extent necessary to provide End-Users with the Services, Nectar
          Plus Healthcare LLP may provide their Personal Information to third
          party contractors who work on behalf of or with Nectar Plus Healthcare
          LLP to provide End-Users with such Services, to help Nectar Plus
          Healthcare LLP communicate with End-Users or to maintain the Website.
        </li>
        <li>
          These third-party service providers have access to information needed
          to process payments, but may not use it for other purposes.
        </li>
      </ul>

      <span class="mt-3 d-block">3.3.10</span>
      <ul class="mt-3">
        <li>
          End-Users consent to Nectar Plus Healthcare LLP disclosing their
          Personal Information to contractors, solely for the intended purposes
          only.
        </li>
      </ul>

      <div class="text-purple mt-3">3.4 CASUAL VISITORS NOTE:</div>

      <span class="mt-3 d-block">3.4.1 </span>
      <ul class="mt-3">
        <li>
          Casual visitors of the Website who are merely perusing the Website
          will not have any sensitive personal data or information collected
          from them automatically.
        </li>
        <li>
          However, certain provisions of the Privacy Policy are applicable to
          even such casual visitors.
        </li>
      </ul>

      <span class="mt-3 d-block">3.4.2 </span>
      <ul class="mt-3">
        <li>
          Casual visitors are also required to read and understand the privacy
          statements set out in the Privacy Policy.
        </li>
        <li>
          If a casual visitor does not agree with the manner in which their
          information is obtained, collected, processed, stored, used, disclosed
          or retained, they should leave the Website immediately.
        </li>
      </ul>

      <span class="mt-3 d-block">3.4.3 </span>
      <ul class="mt-3">
        <li>
          If a casual visitor has inadvertently browsed any other page of the
          Website prior to reading the privacy statements, they can clear all
          temporary cookies installed by Nectar Plus Healthcare LLP by quitting
          the browser application.
        </li>
        <li>
          However, it is recommended that casual visitors use the "clear
          cookies" functionality of their browsers to ensure that all cookies
          are cleared.
        </li>
      </ul>

      <span class="mt-3 d-block">3.4.4 </span>
      <ul class="mt-3">
        <li>
          A casual visitor is not a User unless they have willingly submitted
          any personal data or information to Nectar Plus Healthcare LLP through
          any means, including email, post or through the registration process
          on the Website.
        </li>
        <li>
          All such visitors will be deemed to be, and will be treated as, Users
          for the purposes of this Privacy Policy, and in which case, all the
          statements in this Privacy Policy apply to such persons.
        </li>
      </ul>

      <label class="mt-5">4.CONFIDENTIALITY AND SECURITY </label>

      <span class="mt-3 d-block">4.1 </span>
      <ul class="mt-3">
        <li>
          Nectar Plus Healthcare LLP takes all necessary precautions to protect
          your Personal Information both online and offline.
        </li>
        <li>
          This includes implementing reasonable security practices and measures,
          such as managerial, technical, operational, and physical security
          control measures.
        </li>
        <li>
          Nectar Plus Healthcare LLP also makes all User information accessible
          to its employees, agents, or partners and third parties only on a
          need-to-know basis.
        </li>
      </ul>

      <span class="mt-3 d-block">4.2 </span>
      <ul class="mt-3">
        <li>
          It is important for you to protect your password and to log off from
          the Website when finished.
        </li>
        <li>
          Nectar Plus Healthcare LLP does not undertake any liability for any
          unauthorized use of your account and password.
        </li>
        <li>
          If you suspect any unauthorized use of your account, you must
          immediately notify Nectar Plus Healthcare LLP.
        </li>
      </ul>

      <span class="mt-3 d-block">4.3 </span>
      <ul class="mt-3">
        <li>
          Part of the functionality of Nectar Plus Healthcare LLP is assisting
          doctors to maintain and organize patient information.
        </li>
        <li>
          Nectar Plus Healthcare LLP may, therefore, retain and submit all such
          records to the appropriate authorities, or to doctors who request
          access to such information.
        </li>
      </ul>

      <span class="mt-3 d-block">4.4 </span>
      <ul class="mt-3">
        <li>
          Part of the functionality of Nectar Plus Healthcare LLP is assisting
          patients to access information relating to them
        </li>
        <li>
          Nectar Plus Healthcare LLP may, therefore, retain and submit all such
          records to the relevant patients, or to their doctors.
        </li>
      </ul>

      <span class="mt-3 d-block">4.5 </span>
      <ul class="mt-3">
        <li>
          Nectar Plus Healthcare LLP is not responsible for the confidentiality,
          security, or distribution of your Personal Information by its partners
          and third parties outside the scope of its agreement with such
          partners and third parties.
        </li>
      </ul>

      <span class="mt-3 d-block">4.6 </span>
      <ul class="mt-3">
        <li>
          Nectar Plus Healthcare LLP shall not be responsible for any breach of
          security or for any actions of any third parties or events that are
          beyond the reasonable control of Nectar Plus Healthcare LLP.
        </li>
        <li>
          This includes acts of government, computer hacking, unauthorized
          access to computer data and storage devices, computer crashes, breach
          of security and encryption, poor quality of Internet service or
          telephone service of the User, etc.
        </li>
      </ul>

      <label class="mt-5">5. CHANGE TO PRIVACY POLICY </label>

      <p class="mt-3">
        Nectar Plus Healthcare LLP may update this Privacy Policy at any time,
        with or without advance notice. In the event there are significant
        changes in the way Nectar Plus Healthcare LLP treats User’s personally
        identifiable information, or in the Privacy Policy itself, Nectar Plus
        Healthcare LLP will display a notice on the Website or send Users an
        email, as provided for above, so that you may review the changed terms
        prior to continuing to use the Services. As always, if you object to any
        of the changes to our terms, and you no longer wish to use the Services,
        you may contact at https://nectarplus.health to deactivate your account.
        Unless stated otherwise, Nectar Plus Healthcare LLP’s current Privacy
        Policy applies to all information that Nectar Plus Healthcare LLP has
        about you and your account.
      </p>

      <p class="mt-3">
        If a User uses the Services or accesses the Website after a notice of
        changes has been sent to such User or published on the Website, such
        User hereby provides his/her/its consent to the changed terms.
      </p>

      <label class="mt-5">6. CHILDREN'S AND MINOR'S PRIVACY </label>
      <p class="mt-3">
        Nectar Plus Healthcare LLP strongly encourages parents and guardians to
        supervise the online activities of their minor children. There are
        parental control tools available from online services and software
        manufacturers that can help provide a child-friendly online environment.
        These tools can also prevent minors from disclosing their name, address,
        and other personally identifiable information online without parental
        permission.
      </p>
      <p class="mt-3">
        Although the Nectar Plus Healthcare LLP Website and Services are not
        intended for use by minors, Nectar Plus Healthcare LLP respects the
        privacy of minors who may inadvertently use the internet or the mobile
        application. If Nectar Plus Healthcare LLP learns that a minor has
        provided personal information, Nectar Plus Healthcare LLP will delete
        that information as soon as possible.
      </p>
      <p class="mt-3">
        If you are a parent or guardian and you are concerned that your child
        may have provided personal information to Nectar Plus Healthcare LLP,
        request you to contact us.
      </p>

      <label class="mt-5">7. CONSENT TO THIS POLICY </label>

      <p class="mt-3">
        By using the Website and its Services, you agree to the terms of this
        Privacy Policy. This means that you consent to Nectar Plus Healthcare
        LLP collecting, using, processing, and disclosing your Personal
        Information in the manner and for the purposes set out in this Privacy
        Policy.
      </p>
      <p class="mt-3">
        If you do not agree to the terms of this Privacy Policy, you should not
        use the Website or its Services.
      </p>
      <p class="mt-3">
        You can withdraw your consent to this Privacy Policy at any time by
        contacting Nectar Plus Healthcare LLP at nectarplushealth&#64;gmai.com.
        However, withdrawing your consent may affect your ability to use the
        Website and its Services.
      </p>

      <label class="mt-5">8. ADDRESS FOR PRIVACY QUESTIONS </label>

      <p class="mt-3">
        If you have any questions about this Privacy Policy or Nectar Plus
        Healthcare LLP's information collection, use, and disclosure practices,
        you can us on the below mentioned email id:
      </p>
      <p class="mt-3">
        Email: <span class="text-purple"> info&#64;nectarplus.health</span>
      </p>
      <p class="mt-3">
        Nectar Plus Healthcare LLP will use reasonable efforts to respond
        promptly to any requests, questions, or concerns you may have regarding
        their use of your personal information.
      </p>

      <label class="mt-5"
        >9. End-Users and Practitioners using the Consult platform.
      </label>

      <p class="mt-3">
        If you are an End-User or Practitioner using the Consult platform, you
        may be required to create an account and provide Nectar Plus Healthcare
        LLP with some information about yourself, such as your name, mobile
        number, email address, and other information as requested by Nectar Plus
        Healthcare LLP on the Consult registration page.
      </p>

      <span class="d-block mt-3"
        >This information is collected so that Nectar Plus Healthcare LLP
        can:</span
      >

      <ul class="mt-3">
        <li>Provide you with the services you have requested.</li>
        <li>Communicate with you about your account and the services.</li>
        <li>Improve the services.</li>
        <li>Protect the safety and security of the services.</li>
      </ul>

      <p class="mt-3">
        Nectar Plus Healthcare LLP will not share your information with third
        parties without your consent, except as necessary to provide the
        services or to comply with legal requirements.
      </p>

      <p class="mt-3">
        You can access, correct, or delete your information at any time by
        logging into your account or by contacting Nectar Plus Healthcare LLP.
      </p>

      <p class="mt-3">
        If you have any questions about Nectar Plus Healthcare LLP's privacy
        practices, please contact the Data Protection Officer at
        <span> info&#64;nectarplus.health</span>
      </p>
    </div>
  </div>
</section>
