@import "tools.mediaquery";

@import "settings.colors";

@import "tools.typography";

@import "settings.containers";
@import "variable.scss";

@import "src/styles/components/_components.form.scss";

.percetDone {
  height: 4px;
  background: $purple;
  width: 33.33%;
}

.containers {
  max-width: 720px;
  width: 720px;
  min-height: calc(100vh - 120px);
  background: $white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @media screen and (max-width: 767px) {
    width: 100%;
  }

  .form {
    min-height: calc(100vh - 124px);
  }

  .content {
    margin: 2rem;

    .heading {
      padding-top: 1rem;
      font-style: normal;
      color: $black;
      @include font-sans_pro-bold($size: 32px, $lineheight: 40px);

      @media screen and (max-width: 767px) {
        @include font-sans_pro-bold($size: 24px);
      }

      .clear {
        border: 1px solid $border-color;
        outline: none;
        background: $purple;
        color: $white;
        padding: 4px 10px;
        border-radius: 5px;

        @include font-sans_pro-regular($size: 18px, $lineheight: 24px);
      }
    }

    p {
      @include font-sans_pro-regular($size: 18px, $lineheight: 23px);

      @media screen and (max-width: 767px) {
        @include font-sans_pro-regular($size: 16px);
      }
    }

    .wrapper {
      display: flex;
      flex-direction: column;
      gap: 24px;

      .wrapper-data {
        display: flex;
        gap: 32px;

        @media screen and (max-width: 767px) {
          flex-direction: column;
        }

        .field {
          width: 50%;
          display: flex;
          flex-direction: column;
          gap: 12px;

          @media screen and (max-width: 767px) {
            width: 100%;
          }

          span {
            color: $red;
          }

          label {
            @include font-sans_pro-regular($size: 18px, $lineheight: 23px);

            @media screen and (max-width: 767px) {
              @include font-sans_pro-regular($size: 16px);
            }
          }
        }
      }
    }
  }

  .continue {
    margin: 0px 2rem 2rem 2rem;
    display: flex;
    justify-content: space-between;

    button {
      width: 200px;
      cursor: pointer;
      padding: 10px 30px;
      border: none;
      color: $white;
      background: $purple;
      border-radius: 4px;
      @include font-sans_pro-regular($size: 18px, $lineheight: 23px);

      @media screen and (max-width: 767px) {
        width: 100px;
        @include font-sans_pro-regular($size: 16px);
      }
    }

    .back {
      background: $white;
      color: $black;
      border: 1px solid $border-color;
      border-radius: 4px;
    }
  }
}

:host::ng-deep {
  .ng-select .ng-select-container {
    height: 48px !important;
    padding: 0 10px !important;
    border: 1px solid $border-color;

    .ng-value-container .ng-input>input {
      padding: 6px 10px !important;
    }
  }

  // .ng-select.ng-select-disabled > .ng-select-container {
  //   background-color: white !important;
  //   opacity: 0.5 !important;
  // }
  .mat-mdc-option .mdc-list-item__primary-text {
    margin-left: 15px !important;
  }
}

.google-maps {
  display: flex;
  min-height: 300px;
}