@import "variable.scss";
@import "src/styles/components/_components.ngx-pagination.scss";

.establishment-request {
  .heading {
    background: $blue-violet;
    border-bottom: 1px solid $lavender;
    color: $white;
    text-align: center;
    padding: 24px;
  }

  .request-table {
    max-width: 100%;
    width: 100%;
    overflow: auto;
    min-height: 40vh !important;

    table {
      width: 100%;
      overflow: auto;
      font-size: 14px;

      th {
        color: $white;
        background: $blue-violet;
        padding: 8px 24px;
        white-space: nowrap;

        &:first-child {
          padding-left: 60px;
        }

        &:last-child {
          padding-right: 60px;
        }
      }

      td {
        padding: 8 24px;
        border-bottom: 1px solid $border-color;

        &:first-child {
          padding-left: 60px;
        }

        &:last-child {
          padding-right: 60px;
        }
      }

      .profile-icon {
        width: 48px;
        height: 48px;
        border-radius: 50%;
        background: #f2e8ff;

        img {
          width: 48px;
          height: 48px;
          border-radius: 50%;
        }
      }
    }

    .status-dropdown {
      padding: 12px 24px;
      border: 1px solid $border-color;
      border-radius: 4px;
      background: $bright-gray;
      text-align: center;

      &.rejected {
        background: $light-pink;
        color: $red !important;
      }
    }
  }
}

::ng-deep {
  .request {
    .dropdown-menu {
      padding: 0 !important;

      .dropdown-item {
        border-bottom: 1px solid $border-color;
        padding: 12px 24px;
        font-size: 14px !important;
        --bs-dropdown-link-active-bg: #eee !important;
        --bs-dropdown-link-active-color: #000 !important;

        &:last-child {
          border-bottom: 0 !important;
          border-radius: 0 0 5px 5px;
          color: $red;
          background: $light-pink !important;
          --bs-dropdown-link-active-bg: $red !important;
          --bs-dropdown-link-active-color: $light-pink !important;
        }

        &:first-child {
          border-radius: 5px 5px 0 0;
        }
      }
    }
  }

  //   .establishment-request {
  .request-content.mdc-dialog__content {
    padding: 0 !important;
    color: $black !important;
  }

  //   }
}

:host::ng-deep {
  .pagination-section {
    margin: 0 auto;

    .ngx-pagination {
      @include ngx-pagination($purple, $purple);
    }
  }
}