<main class="settings-add">
  <header class="px-24 py-3 font-600 text-24 border-bottom-style">
    {{ data.heading }}
  </header>
  <mat-dialog-content class="settings-add">
    <form [formGroup]="socialMediaForm" class="">
      <div class="d-flex flex-column gap-6" formGroupName="social">
        <div class="form-item d-flex flex-column gap-2">
          <label [htmlFor]="" class="font-600">
            {{ "SOCIAL" | translate }}
            <span class="required-hint">*</span>
          </label>
          <nectar-form-field>
            <ng-select
              nectarError
              controlName="Social"
              formControlName="type"
              class="social-select"
              placeholder="Select Social"
              [searchable]="false"
            >
              <ng-option
                *ngFor="let social of socialMediaList"
                [value]="social._id"
              >
                <img
                  alt=""
                  class="social-image"
                  [src]="social.logo"
                  [title]="social.name"
                />
                {{ social.name }}
              </ng-option>
            </ng-select>
          </nectar-form-field>
        </div>
        <div class="form-item d-flex flex-column gap-2">
          <label [htmlFor]="" class="font-600">
            {{ "SOCIAL_URL" | translate }}
            <span class="required-hint">*</span>
          </label>
          <nectar-form-field>
            <input
              nectarError
              controlName="Social URL"
              type="text"
              formControlName="url"
              class="form-input w-100"
              placeholder="Type URL"
              oninput="this.value = this.value.replace(/^ $/,'')"
            />
          </nectar-form-field>
        </div>
      </div>
    </form>
  </mat-dialog-content>
  <mat-dialog-actions class="settings-add">
    <div
      class="buttongroup d-flex justify-content-between gap-6 border-top-style w-100 px-24 py-3"
    >
      <div>
        <button class="delete" *ngIf="data.edit" (click)="onDelete()">
          <span class="mt-0-5 required-hint text-18">
            {{ "DELETE" | translate }}
          </span>
          <svg-icon src="assets/images/svg/delete1.svg"></svg-icon>
        </button>
      </div>
      <div class="d-flex gap-6">
        <button class="cancel" (click)="matdialogRef.close()">Cancel</button>
        <button class="save" (click)="onSubmit()">Save</button>
      </div>
    </div>
  </mat-dialog-actions>
</main>
