@import "tools.mediaquery";

@import "settings.colors";

@import "tools.typography";

@import "settings.containers";

@import "variable.scss";


.services {
  padding: $pad_0 $pad_24 $pad_24;

  @media screen and (max-width: 767px) {
    padding: 18px 0;
  }

  h2 {
    @include font-sans_pro-semibold($size: 22px);

    @media screen and (max-width: 767px) {
      @include font-sans_pro-semibold($size: 20px);
    }
  }

  &__container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

    @media screen and (max-width: 576px) {
      grid-template-columns: 1fr;
    }

    .list {
      .data {
        @include font-sans_pro-regular($size: 14px);

        @media screen and (max-width: 767px) {
          @include font-sans_pro-regular($size: 16px);
        }
      }
    }
  }
}
.service_link {
  display: block;  /* Ensures it behaves like a div */
  cursor: pointer; /* Adds pointer behavior like the div */
  text-decoration: none; /* Removes default underline */
  color: inherit; /* Keeps the same text color */
 /* Adjust for better spacing */
}


.view-buttons {
  display: none;

  @media screen and (max-width: 767px) {
    margin-top: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  button {
    @include font-sans_pro-semibold(16px);
    border-radius: 8px;
    border: 1px solid $border-color;
    padding: 8px 16px;
    background: $white;
    width: 135px;
  }
}