@import "variable.scss";

@import "tools.typography";

.cancel {
  padding: 10px 30px;
  background: $white;
  border: 1px solid $border-color;
  color: $purple;
  @include font-sans_pro-semibold(14px);
}

.yes {
  color: $white;
  background: $purple;
}