@import "tools.mediaquery";

@import "settings.colors";

@import "tools.typography";

@import "settings.containers";

@import "variable.scss";
@import "src/styles/components/_components.ngx-pagination.scss";

.main {
  width: 100%;
  height: 100%;
  max-height: 100%;
  overflow-y: auto;
  background: $white;

  .wrapper {

    // min-height: 100%;
    .heading {
      position: sticky;
      top: 0;
      z-index: 10;
      background: $white;
      padding: 18px;
      border-bottom: 1px solid $border-color;

      @media screen and (max-width: 767px) {
        position: static;
        z-index: 1;
      }

      @media screen and (max-width: 576px) {
        padding: 24px 12px;
      }

      h2 {
        margin: 0;
        @include font-sans_pro-semibold($font_24);

        @media screen and (max-width: 776px) {
          @include font-sans_pro-semibold($font_20);
        }
      }

      .upload {
        padding: 0px 30px;
        height: 47px;
        @include font-sans_pro-regular($font_14);
        background: $purple;
        color: $white;
        border-radius: 5px;

        @media screen and (max-width: 776px) {
          padding: 0px 15px;
          @include font-sans_pro-regular($font_16);
        }
      }
    }

    .content {
      margin: 0 24px;

      p {
        @include font-sans_pro-semibold($font_14);
        margin: 0;
        margin-top: 18px;

        @media screen and (max-width: 776px) {
          @include font-sans_pro-semibold($font_16);
        }
      }

      .tab {
        border: 1px solid $border-color;
        margin: 18px 0;

        .box {
          padding: 24px;

          @media screen and (max-width: 576px) {
            padding: 24px 12px;
          }

          .first-section {
            .date {
              padding: 6px 15px;
              width: 64px;
              height: 70px;
              @include font-sans_pro-regular($font_14);
              background: $bright-gray;

              @media screen and (max-width: 776px) {
                @include font-sans_pro-regular($font_16);
              }

              .num {
                @include font-sans_pro-bold($font_28);
                line-height: 1;

                @media screen and (max-width: 776px) {
                  @include font-sans_pro-bold($font_24);
                }
              }
            }

            .details {
              .name {
                @include font-sans_pro-semibold($font_14);
                line-height: 1.3;

                @media screen and (max-width: 776px) {
                  @include font-sans_pro-semibold($font_16);
                }
              }

              .time {
                @include font-sans_pro-regular($font_14);
                line-height: 1.2;

                @media screen and (max-width: 776px) {
                  @include font-sans_pro-regular($font_16);
                }
              }

              .completed {
                background: #d3ffd3;
                border-radius: 2px;
                padding: 5px 15px;
                color: $green;
                max-width: 120px;
                @include font-sans_pro-regular($font_14);

                @media screen and (max-width: 776px) {
                  @include font-sans_pro-regular($font_16);
                }
              }

              .cancelled {
                color: $red;
                background: #ffc2c2;
                border-radius: 2px;
              }
            }
          }

          .second-section {
            button {
              border: 1px solid $border-color;
              border-radius: 5px;
              background-color: $white;
              padding: 12px 40px;
              @include font-sans_pro-regular($font_14);

              @media screen and (max-width: 776px) {
                @include font-sans_pro-regular($font_16);
              }
            }
          }
        }
      }
    }
  }
}

.title {
  @include font-sans_pro-semibold($font_14);
  text-align: center;

  @media screen and (max-width: 776px) {
    @include font-sans_pro-semibold($font_16);
  }
}

.noData {
  p {
    @include font-sans_pro-regular($font_14);
  }

  button {
    color: $white;
    background: $purple;
    @include font-sans_pro-regular($font_14);
    padding: 12px 30px;
    border-radius: 5px;
  }
}

::ng-deep {
  .sharePanel {
    width: 35vw;
    min-height: 500px;

    @media screen and (max-width: 767px) {
      width: 60vw;
    }

    @media screen and (max-width: 767px) {
      width: 90vw;
      min-height: max-content;
    }
  }

  .ngx-pagination {
    @include ngx-pagination($purple, $purple);
  }

  .mat-mdc-menu-panel.pop-up {
    max-width: 200px !important;
    width: 200px;
  }

  .mat-mdc-menu-item {
    padding-left: 30px;
  }

  .appointment-filter {
    input[type="radio"] {
      accent-color: $black !important;
    }

    .save-button {
      width: 120px;
      padding: 10px 0;
      background: $purple;
      color: $white;
      border: none;
    }

    .matdate-input {
      border: 1px solid $border-color;
      height: 48px;
      border-radius: 5px;
      position: relative;

      .toggle {
        position: absolute;
        top: 0px;
        right: 0px;
      }

      input {
        border: none;
        border-radius: 5px;
        width: 90%;
        padding: 0 12px;
        outline: none;
        font-size: 16px;
        text-overflow: ellipsis;
      }
    }

    .mat-expansion-panel {
      width: 100% !important;
      box-shadow: none !important;
    }

    .mat-expansion-panel-header.mat-expanded {
      height: 48px !important;
    }

    .mat-expansion-panel-body {
      padding: 12px 24px !important;
    }

    .mat-expansion-panel-header {
      border-radius: 0 !important;
    }

    .mat-expansion-panel-spacing {
      margin: 0 !important;
    }

    .mat-mdc-menu-content {
      padding: 0 !important;
    }
  }

  .mat-mdc-menu-panel.appointment-filter {
    max-width: 360px !important;
    width: 360px !important;
    margin-top: 16px !important;

    @media screen and (max-width: 576px) {
      max-width: 300px !important;
      width: 300px !important;
    }
  }
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: $white;
}

::-webkit-scrollbar-thumb {
  background: $purple;
  border-radius: 20px;
}

.text-14 {
  @media screen and (max-width: 767px) {
    font-size: 16px !important;
  }
}