<section>
  <div class="text-center">
    <div class="text-32 font-600">Congratulation!</div>
    <div class="my-4 text-18 font-600">
      Appointment Confirmed! Our Surgical expert guide will help you through the
      entire process.
    </div>
    <div
      class="d-flex justify-content-center align-items-center margin-y-60 flex-wrap"
    >
      <div class="box">
        <img
          loading="lazy"
          src="assets/images/svg/icons8-phone-ringing 1.svg"
          alt=""
        />
        <div class="text-18 mt-2">
          You will receive a call from our expert surgical care
        </div>
      </div>
      <div class="text-24 font-600 arrows">-----</div>
      <div class="box">
        <img
          loading="lazy"
          src="assets/images/svg/icons8-expensive-price 1.svg"
          alt=""
        />
        <div class="text-18 mt-2">
          You will receive a call from our expert surgical care
        </div>
      </div>
      <div class="text-24 font-600 arrows">-----</div>
      <div class="box">
        <img
          loading="lazy"
          src="assets/images/svg/medical-staff 1.svg"
          alt=""
        />
        <div class="text-18 mt-2">
          We will arrange a consultation based on your availability
        </div>
      </div>
    </div>

    <div class="margin-top-bottom">
      <button (click)="close()" class="text-18 font-600">Done</button>
    </div>
  </div>
</section>
