<div class="main">
  <div class="wrapper">
    <div class="heading">
      <h2>Personal Information</h2>
    </div>

    <form class="content" [formGroup]="infoForm">
      <div class="photo">
        <span>Profile Photo</span>
        <div class="d-flex align-items-center">
          <div class="profile-icon" *ngIf="!infoForm.value.profilePic">
            {{ userDetail?.fullName | nameInitial | async | uppercase }}
          </div>
          <img
            [src]="infoForm.value.profilePic"
            alt=""
            *ngIf="infoForm.value.profilePic"
            class="img-fit-contain"
          />&nbsp;&nbsp;

          <input
            type="file"
            id="pic"
            style="display: none"
            (change)="selectFile($event)"
            accept="image/png,image/jpeg,image/jpg"
          />
          <label for="pic">Change Photo</label>
        </div>
      </div>

      <div class="first-section mt-2">
        <div
          class="d-flex justify-content-between gap-3 flex-wrap align-items-center"
        >
          <div class="field col-md-3 col-12">
            <label for="">Full Name</label>
            <input
              type="text"
              placeholder="Full name"
              formControlName="fullName"
              (keypress)="cValidators.alphabetOnly($event)"
            />
          </div>

          <!-- phone section -->

          <div class="field col-md-3 col-12">
            <div class="d-flex justify-content-between">
              <label for="">Phone Number</label>
              <p class="m-0 cursor-pointer" routerLink="change-number">Edit</p>
            </div>
            <input
              type="text"
              placeholder="Phone Number"
              [value]="userDetail?.phone"
              disabled
            />
          </div>

          <!-- email section -->

          <div class="field col-md-3 col-12">
            <div class="d-flex justify-content-between">
              <label for="">Email Address</label>
              <p class="m-0 cursor-pointer" routerLink="change-email">Edit</p>
            </div>
            <input
              type="text"
              placeholder="Email Address"
              [value]="userDetail?.patient?.email || ''"
              disabled
            />
          </div>

          <!-- gender section -->

          <div class="field col-md-3 col-12">
            <label for="">Gender</label>
            <ng-select
              placeholder="Select Gender"
              [searchable]="false"
              formControlName="gender"
            >
              <ng-option *ngFor="let item of gender" [value]="item.id">{{
                item.name
              }}</ng-option>
            </ng-select>
          </div>

          <!-- dob section -->

          <div class="field col-md-3 col-12">
            <label for="">Date of Birth</label>
            <div class="matdate-input d-flex">
              <input
                matInput
                class="w-100"
                type="text"
                [matDatepicker]="pickerfrom"
                placeholder="DD/MM/YYYY"
                formControlName="dob"
                [max]="today"
              />

              <mat-datepicker-toggle
                class="toggle"
                matIconSuffix
                [for]="pickerfrom"
              ></mat-datepicker-toggle>
              <mat-datepicker #pickerfrom></mat-datepicker>
            </div>
          </div>

          <!-- blood group section -->

          <div class="field col-md-3 col-12">
            <label for="">Blood Group</label>
            <ng-select
              placeholder="Select Blood Group"
              [searchable]="false"
              formControlName="bloodGroup"
            >
              <ng-option *ngFor="let item of bloodGroups" [value]="item.id">{{
                item.name
              }}</ng-option>
            </ng-select>
          </div>
        </div>
      </div>

      <div class="address-section mt-4">
        <span class="text-14 font-600">Address</span>

        <div
          class="d-flex flex-wrap gap-3 justify-content-between align-items-center"
        >
          <!-- House No./ Street Name/ Area section -->

          <div class="field col-md-3 col-12">
            <label for="">House No./ Street Name/ Area</label>
            <input
              type="text"
              formControlName="landmark"
              (keypress)="cValidators.alphaNumericOnly($event)"
            />
          </div>

          <!-- Colony / Street / Locality section -->

          <div class="field col-md-3 col-12">
            <label for="">Colony / Street / Locality</label>
            <input
              type="text"
              formControlName="locality"
              (keypress)="cValidators.alphaNumericOnly($event)"
            />
          </div>

          <!-- City section -->

          <div class="field col-md-3 col-12">
            <label for="">City</label>
            <input
              type="text"
              formControlName="city"
              (keypress)="cValidators.alphabetOnly($event)"
            />
          </div>

          <!-- State section -->

          <div class="field col-md-3 col-12">
            <label for="">State</label>
            <ng-select
              placeholder="Select State"
              [searchable]="false"
              [dropdownPosition]="'top'"
              formControlName="state"
            >
              <ng-option *ngFor="let item of states" [value]="item._id">{{
                item.name
              }}</ng-option>
            </ng-select>
          </div>

          <!-- Pin code section -->

          <div class="field col-md-3 col-12">
            <label for="">Pin code</label>
            <input
              type="text"
              formControlName="pincode"
              maxlength="6"
              oninput="this.value = this.value.replace(/\D/g, '').replace(/^0/,'');"
            />
          </div>
          <div class="field col-md-3 invisible">
            <label for="">Pin code</label>
            <input type="text" />
          </div>
        </div>
      </div>
      <div class="mt-4 d-flex justify-content-center">
        <button
          type="submit"
          class="save"
          [ngClass]="{ disabled: !this.hasChanged }"
          (click)="saveInformation()"
        >
          Save
        </button>
      </div>
    </form>
  </div>
</div>
