.change-password-screen {
  padding: 15px 22px;

  .form-group {
    margin-bottom: 15px;
    label {
      margin-bottom: 10px;

      &.required {
        &:after {
          content: "*";
          color: red;
          font-size: 20px;
        }
      }
    }

    input[type="text"] {
      border-color: #646464;
      // height: 48px;
    }
  }

  .submit-btn {
    margin-top: 40px;
    padding: 12px 35px;
    background-color: #45197c;

    &:hover {
      opacity: 0.7;
    }
  }
}


.menu-list li:not(.exclude-menu) a img {
  transition: filter 0.3s ease; /* Smooth transition */
}

.menu-list li:not(.exclude-menu) a:hover img {
  filter: invert(100%);
}
