<div class="container-fluid video_contanier_section">
  <div class="row g-0">
    <div class="text-24 font-600 text-center">
      Expert Guidance from Start to Finish
    </div>
    <div class="video_contanier mt-4">
      <div class="w-100 video-tab">
        <iframe width="100%" [src]="videoUrl | sanitize | async" allowfullscreen title="videos"></iframe>
      </div>
    </div>
    <section class="experts">
      <div class="experts-wrap">
        <div class="working">
          <div class="d-flex flex-wrap align-items-center my-3">
            <div class="d-flex align-items-center mt-2" *ngFor="let i of data; let j = index">
              <div class="card_section">
                <div class="svg">
                  <img loading="lazy" [src]="i?.img" alt="" />
                </div>
                <div class="text text-14 p-2">{{ i?.title | truncate:70}}</div>
              </div>

              <!-- <div *ngIf="data.length - 1 !== j" class="dash">---</div> -->
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>
<nectar-client-testimonials></nectar-client-testimonials>
<section class="faq">
  <div class="faq__wrapper">
    <div class="content_section">
      <h2 class="text-center fw-bold">Frequently Asked Questions</h2>
      <p class="w-75 text-center text_mobile_section">Is composed of bones and cartilage that form the face and the
        cranium, which surrounds the brain. You can feel
        the bones of the cranium on top of the skull. The 5 bones that form the bottom, or base, of the cranium also
        form the eye socket, roof of the nasal cavity,</p>
    </div>
    <div class="faq__wrapper__content">
      <div class="faq__questions-container">
        <mat-accordion *ngFor="let item of faqlist; let i = index">
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title class="fw-bold">{{ item?.question }}</mat-panel-title>
            </mat-expansion-panel-header>
            <p class="answer_paragraph">
              {{ item.answer | slice: 0:(isExpanded[i] ? undefined : 100) }}
              <span *ngIf="item.answer.length > 100">
                ...
                <button color="primary" (click)="toggleReadMore(i)">
                  {{ isExpanded[i] ? 'Read Less' : 'Read More' }}
                </button>
              </span>
            </p>
          </mat-expansion-panel>
        </mat-accordion>
      </div>
    </div>
  </div>
</section>