@import "variable.scss";
@import "src/styles/elements/_elements.svg.scss";

.doctor-list {
  margin-top: 72px;

  .gray-bg {
    &:hover {
      background: $purple;
      color: $white;
      cursor: pointer;
    }

    &.selected {
      background: $purple;
      color: $white;
      cursor: pointer;
    }
  }
}