<div class="containers">
  <div class="percetDone"></div>
  <div class="form d-flex flex-column justify-content-between">
    <div class="content">
      <div class="heading">Consultant Fees</div>
      <p class="text-18">{{ name }}</p>

      <div class="wrapper">
        <div class="fields">
          <label for="">Consutant Fees<span>*</span> </label>
          <input
            type="text"
            name=""
            id=""
            maxlength="5"
            placeholder="Consultant Fees"
            [formControl]="consultantFees"
            oninput="this.value = this.value.replace(/\D/,'').replace(/^0/,'')"
          />
          <div
            class="error-hint"
            *ngIf="(consultantFees.touched || submitted) && (consultantFees.errors?.['required'])"
          >
            Consultant Fees is required
          </div>
        </div>
      </div>
    </div>
    <div class="continue">
      <button type="button" class="back" (click)="back()">Back</button>
      <button type="button" (click)="onSubmit()">Next</button>
    </div>
  </div>
</div>
