<!----===========================-this the Carsauole Of Window dextop====================================-->
<div id="myCarousel " class="carousel slide my-carasol_dextop" data-bs-ride="carousel">
      <div class="carousel-indicators">
            <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class=""
                  aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2" class="active"
                  aria-current="true"></button>
            <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"
                  class=""></button>
      </div>
      <div class="carousel-inner">
            <div class="carousel-item">
                  <div class="container-fluid">
                        <div class="main_banner main_banner1">
                              <div class="col-lg-6 col-md-8 col-sm-12 p-3">
                                    <div class="container  my-5 container-text" style="padding: 35px;">
                                          <div class="d-flex flex-column gap-3 Hedding-content">
                                                <div class="d-flex flex-column gap-2">
                                                      <div class="fs-2 fw-semibold">Your One-Stop Destination for Health
                                                            and
                                                            Wellness</div>
                                                      <div class="fs-5 Banner_text">Find Prescription Medicines, OTC
                                                            Products, and Health
                                                            Supplements</div>
                                                </div>
                                                <div>
                                                      <button class="btn shop-now-wrapper  fw-semibold"
                                                            [routerLink]="['/medicines/all-medicines']">Shop
                                                            Now</button>
                                                </div>
                                          </div>
                                          <div class="d-flex gap-3 mt-4">
                                                <div class="d-flex align-items-center gap-2">
                                                      <img class="free-shipping-1-icon"
                                                            src="../../../../../assets/images/my-upchar-image/free-shipping 1.png"
                                                            alt="Free Shipping">
                                                      <div style="font-weight: 700;">Free Shipping on Orders Over [199]
                                                      </div>
                                                </div>
                                                <div class="d-flex align-items-center gap-2">
                                                      <img class="free-shipping-1-icon"
                                                            src="../../../../../assets/images/my-upchar-image/24-hours-support 1.png"
                                                            alt="Customer Support">
                                                      <div style="    font-weight: 700;">24/7 Customer Support</div>
                                                </div>
                                          </div>
                                    </div>
                              </div>
                              <div class="col-lg-4 col-md-4 col-sm-12 banner_image_contaioner ">
                                    <img class="img-fluid Image_banner" alt=""
                                          src="../../../../../assets/images/my-upchar-image/doctor-image.png">

                              </div>
                        </div>
                  </div>
            </div>
            <div class="carousel-item active">

                  <div class="container-fluid">
                        <div class="main_banner main_banner2">
                              <div class="col-lg-6 col-md-8 col-sm-12 p-3">
                                    <div class="container  my-5 container-text" style="padding: 35px;">
                                          <div class="d-flex flex-column gap-3 Hedding-content">
                                                <div class="d-flex flex-column gap-2">
                                                      <div class="fs-2 fw-semibold">Your One-Stop Destination for Health
                                                            and
                                                            Wellness</div>
                                                      <div class="fs-5 Banner_text">Find Prescription Medicines, OTC
                                                            Products, and Health
                                                            Supplements</div>
                                                </div>
                                                <div>
                                                      <button class="btn shop-now-wrapper  fw-semibold"
                                                            [routerLink]="['/medicines/all-medicines']">Shop
                                                            Now</button>
                                                </div>
                                          </div>
                                          <div class="d-flex gap-3 mt-4">
                                                <div class="d-flex align-items-center gap-2">
                                                      <img class="free-shipping-1-icon"
                                                            src="../../../../../assets/images/my-upchar-image/free-shipping 1.png"
                                                            alt="Free Shipping">
                                                      <div style="font-weight: 700;">Free Shipping on Orders Over [199]
                                                      </div>
                                                </div>
                                                <div class="d-flex align-items-center gap-2">
                                                      <img class="free-shipping-1-icon"
                                                            src="../../../../../assets/images/my-upchar-image/24-hours-support 1.png"
                                                            alt="Customer Support">
                                                      <div style="    font-weight: 700;">24/7 Customer Support</div>
                                                </div>
                                          </div>
                                    </div>
                              </div>
                              <div class="col-lg-4 col-md-4 col-sm-12 banner_image_contaioner ">
                                    <img class="img-fluid Image_banner" alt=""
                                          src="../../../../../assets/images/my-upchar-image/Cart-medicine.png">

                              </div>
                        </div>
                  </div>
            </div>
            <div class="carousel-item">

                  <div class="container-fluid">
                        <div class="main_banner main_banner3">
                              <div class="col-lg-6 col-md-8 col-sm-12 p-3">
                                    <div class="container  my-5 container-text" style="padding: 35px;">
                                          <div class="d-flex flex-column gap-3 Hedding-content">
                                                <div class="d-flex flex-column gap-2">
                                                      <div class="fs-2 fw-semibold">Your One-Stop Destination for Health
                                                            and
                                                            Wellness</div>
                                                      <div class="fs-5 Banner_text">Find Prescription Medicines, OTC
                                                            Products, and Health
                                                            Supplements</div>
                                                </div>
                                                <div>
                                                      <button class="btn shop-now-wrapper  fw-semibold"
                                                            [routerLink]="['/medicines/all-medicines']">Shop
                                                            Now</button>
                                                </div>
                                          </div>
                                          <div class="d-flex gap-3 mt-4">
                                                <div class="d-flex align-items-center gap-2">
                                                      <img class="free-shipping-1-icon"
                                                            src="../../../../../assets/images/my-upchar-image/free-shipping 1.png"
                                                            alt="Free Shipping">
                                                      <div style="font-weight: 700;">Free Shipping on Orders Over [199]
                                                      </div>
                                                </div>
                                                <div class="d-flex align-items-center gap-2">
                                                      <img class="free-shipping-1-icon"
                                                            src="../../../../../assets/images/my-upchar-image/24-hours-support 1.png"
                                                            alt="Customer Support">
                                                      <div style="    font-weight: 700;">24/7 Customer Support</div>
                                                </div>
                                          </div>
                                    </div>
                              </div>
                              <div class="col-lg-4 col-md-4 col-sm-12 banner_image_contaioner "
                                    style="display: flex;justify-content: flex-end;">
                                    <img class="img-fluid Image_banner" alt=""
                                          src="../../../../../assets/images/my-upchar-image/Couple 1.png">

                              </div>
                        </div>
                  </div>
            </div>
      </div>

</div>

<!----===========================-this the Carsauole Of mobile dextop====================================-->


<div id="carouselExampleIndicators " class="carousel slide Moblie_carsole" data-ride="carousel">

      <div class="carousel-inner">
            <div class="carousel-item active">
                  <div class="p-2">
                        <div class="w-100 h-100 "
                              style="border-radius: 9.52px; overflow: hidden; background-color: #ACF0FD;">
                              <div class="d-flex flex-column justify-content-start">
                                    <div class="p-3">
                                          <div class="Banner_tittle">Your One-Stop Destination for Health and Wellness
                                          </div>
                                          <div class="Banner_subtittle mt-3">Find Prescription Medicines, OTC Products,
                                                and Health
                                                Supplements
                                          </div>
                                    </div>
                                    <div class="Button_immage_section">
                                          <div class="continer_section_banner">
                                                <div class="text_Container">
                                                      <button class="button_mobile"
                                                            [routerLink]="['/medicines/all-medicines']">Shop
                                                            Now</button>
                                                      <div class="image_servies_section">
                                                            <img src="../../../../../assets/images/my-upchar-image/free-shipping 1.png"
                                                                  alt="" style="width: 25%;">


                                                            <p class="Test_sub ms-1"> Free Shipping on Orders Over [199]
                                                            </p>
                                                      </div>
                                                      <div class="image_servies_section">
                                                            <img src="../../../../../assets/images/my-upchar-image/24-hours-support 1.png"
                                                                  alt="" style="width:25%;">
                                                            <p class="Test_sub ms-1"> 24/7 Customer Support</p>
                                                      </div>
                                                </div>
                                          </div>
                                          <div class="continer_section_banner">
                                                <img src="../../../../../assets/images/my-upchar-image/doctor-image.png"
                                                      class="img-fluid" alt="">
                                          </div>
                                    </div>
                              </div>
                        </div>
                  </div>
            </div>


      </div>

</div>



<!----------Featured Categories card -->
<!--=================================================================================================================-->
<div class="container-fluid d-flex justify-content-center">
      <div class="row p-2" style="overflow: hidden;">
            <div class="tab-bar">
                  <div class="Card_categraoy g-0" style="display: contents;">
                        <a *ngFor="let category of categories" (click)="selectCategory(+category.Id)">
                              <div [ngClass]="'container ' + category.containerClass">
                                    <div class="text" [innerHTML]="category.text"></div>
                                    <img class="image img-fluid" [src]="category.imgSrc" />
                              </div>
                        </a>

                  </div>
            </div>
      </div>
</div>
<!--=====================Featured Categories Big Card=====================-->
<div class="container-fluid  mt-5">
      <div class="row">



            <div class="col-md-4 ">
                  <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative text-end card-1"
                        style="background: #A9DEF9;">
                        <div class="col-auto d-none d-lg-block">
                              <img src="../../../../../assets/images/my-upchar-image/Doctor-card.png" alt="">


                        </div>
                        <div class="col p-4 d-flex flex-column position-static">
                              <div class="promotion-container">
                                    <div class="promotion-details">
                                          <div class="promotion-title">Upto 25% off</div>
                                          <div class="promotion-subtitle">Hand Sanitizer</div>
                                          <div class="promotion-description">I have been a loyal customer of this auto
                                                parts company for years.</div>
                                    </div>

                                    <button class="shop-now-button shop-now"
                                          [routerLink]="['/medicines/all-medicines']">Shop Now <span>
                                                <svg width="18" height="18" viewBox="0 0 18 18" fill="none"
                                                      xmlns="http://www.w3.org/2000/svg">
                                                      <g id="Keyboard arrow right" clip-path="url(#clip0_17_165)">
                                                            <path id="Vector"
                                                                  d="M6.4425 12.4425L9.8775 9L6.4425 5.5575L7.5 4.5L12 9L7.5 13.5L6.4425 12.4425Z"
                                                                  fill="white" />
                                                      </g>
                                                      <defs>
                                                            <clipPath id="clip0_17_165">
                                                                  <rect width="18" height="18" fill="white" />
                                                            </clipPath>
                                                      </defs>
                                                </svg>
                                          </span>
                                    </button>


                              </div>
                        </div>

                  </div>
            </div>
            <div class="col-md-4">
                  <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative text-end card-2"
                        style="background: #FFD8E4;">
                        <div class="col-auto d-none d-lg-block">
                              <img src="../../../../../assets/images/my-upchar-image/Card-2.png" alt="" class="ms-3">


                        </div>
                        <div class="col p-4 d-flex flex-column position-static">
                              <div class="promotion-container">
                                    <div class="promotion-details">
                                          <div class="promotion-title">Upto 20% off</div>
                                          <div class="promotion-subtitle">Fitness Gear</div>
                                          <div class="promotion-description">I have been a loyal customer of this auto
                                                parts company for years.</div>
                                    </div>

                                    <button class="shop-now-button shop-now" [routerLink]="['all-medicines']">Shop Now
                                          <span>
                                                <svg width="18" height="18" viewBox="0 0 18 18" fill="none"
                                                      xmlns="http://www.w3.org/2000/svg">
                                                      <g id="Keyboard arrow right" clip-path="url(#clip0_17_165)">
                                                            <path id="Vector"
                                                                  d="M6.4425 12.4425L9.8775 9L6.4425 5.5575L7.5 4.5L12 9L7.5 13.5L6.4425 12.4425Z"
                                                                  fill="white" />
                                                      </g>
                                                      <defs>
                                                            <clipPath id="clip0_17_165">
                                                                  <rect width="18" height="18" fill="white" />
                                                            </clipPath>
                                                      </defs>
                                                </svg>
                                          </span>
                                    </button>


                              </div>
                        </div>

                  </div>
            </div>
            <div class="col-md-4">
                  <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative text-end card-3"
                        style="background: #DAFFF3;">
                        <div class="col-auto d-none d-lg-block">
                              <img src="../../../../../assets/images/my-upchar-image/Card-3.png" alt="" class="ms-3">
                        </div>
                        <div class="col p-4 d-flex flex-column position-static">
                              <div class="promotion-container">
                                    <div class="promotion-details">
                                          <div class="promotion-title">Upto 25% off</div>
                                          <div class="promotion-subtitle">Health Check-Up</div>
                                          <div class="promotion-description">Ensure your well-being with our
                                                comprehensive health check-up.</div>
                                    </div>

                                    <button class="shop-now-button shop-now" [routerLink]="['all-medicines']">Shop Now
                                          <span>
                                                <svg width="18" height="18" viewBox="0 0 18 18" fill="none"
                                                      xmlns="http://www.w3.org/2000/svg">
                                                      <g id="Keyboard arrow right" clip-path="url(#clip0_17_165)">
                                                            <path id="Vector"
                                                                  d="M6.4425 12.4425L9.8775 9L6.4425 5.5575L7.5 4.5L12 9L7.5 13.5L6.4425 12.4425Z"
                                                                  fill="white" />
                                                      </g>
                                                      <defs>
                                                            <clipPath id="clip0_17_165">
                                                                  <rect width="18" height="18" fill="white" />
                                                            </clipPath>
                                                      </defs>
                                                </svg>
                                          </span>
                                    </button>


                              </div>
                        </div>

                  </div>
            </div>

      </div>
</div>


<nectar-popular-product style="padding: 0px;" [productData]="medicinedata"></nectar-popular-product>


<!-- <nectar-popular-product style="padding: 0px;" [productData]="xyz"></nectar-popular-product> -->