<section class="services-section w-100">
  <header
    class="w-100 heading d-flex justify-content-between gap-40 align-items-center border-bottom-style"
  >
    <div class="text-16 font-600">
      {{ "ADDRESS" | translate }}
    </div>
  </header>
  <main class="p-24 d-flex flex-column gap-3">
    <div
      class="p-24 border-style d-flex justify-content-between align-items-center"
      *ngIf="apiCalled"
    >
      <div>
        <p class="font-600 text-16">
          {{ address.landmark }}, {{ address.locality }}
        </p>

        <p class="font-600 text-16">
          {{ address.city }}, {{ address.stateName }}, {{ address.pincode }}
        </p>
        <p class="">{{ hospitalName }}</p>
        <p
          class="text-blue-violet m-0 cursor-pointer font-600"
          (click)="googleMapService.redirectToGoogleMaps(this.location.coordinates?.[1],this.location.coordinates?.[0])"
        >
          {{ "GET_DIRECTION" | translate }}
        </p>
      </div>
      <div
        class="d-flex justify-content-between align-items-center gap-2 py-2 px-24 border-style cursor-pointer rounded-1"
        (click)="onEditAddresss()"
      >
        <svg-icon src="assets/images/svg/edit.svg"></svg-icon>
        <span class="mt-1">
          {{ "EDIT" | translate }}
        </span>
      </div>
    </div>
  </main>
</section>
