@import "variable.scss";

.delete-profile {
  .heading {
    padding: 43px 24px;
  }

  .confirm-button {
    padding: 16px 24px;
    background: $red;
    max-width: 224px;
    color: $white;
    border: none;

  }
}