<div class="delete-profile text-18">
  <div class="heading border-bottom-style font-600 text-16">
    {{ "DELETE_PROFILE" | translate }}
  </div>
  <div class="p-24 d-flex flex-column gap-6">
    <div class="">
      As a Nectar partner, you can request the permanent deletion of your
      profile information. By confirming below, you acknowledge and agree that
      your account and its data will be deleted. If you decide to open a new
      account with Nectar, you will be unable to access your historical data.
    </div>
    <button class="confirm-button text-16 font-600" (click)="submitForm()">Confirm</button>
  </div>
</div>
