<section class="services-section w-100">
  <header
    class="w-100 heading d-flex justify-content-between gap-40 align-items-center border-bottom-style"
  >
    <div class="text-16 font-600">{{ "SERVICES" | translate }}</div>
    <button class="add-more" (click)="onAddService()">
      <svg-icon src="assets/images/svg/add.svg"></svg-icon>
      <span class="mt-1">
        {{ "ADD" | translate }}
      </span>
    </button>
  </header>
  <main class="p-24 d-flex flex-column gap-3">
    <ng-container *ngFor="let service of serviceList">
      <div
        class="py-1 px-24 border-style d-flex justify-content-between align-items-center"
      >
        <span>
          {{ service.name | titlecase }}
        </span>
        <div
          class="d-flex justify-content-between align-items-center gap-2 py-12 px-24 cursor-pointer"
          (click)="onDeleteService(service._id)"
        >
          <svg-icon src="assets/images/svg/trash.svg"></svg-icon>
          <span class="mt-1 required-hint">
            {{ "DELETE" | translate }}
          </span>
        </div>
      </div>
    </ng-container>
  </main>
</section>
