@import "src/styles/components/_components.form.scss";
.hospital-address-wrapper {
  .form-item {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
  }
  .map {
    margin-top: 84px;
    .map-img {
      object-fit: cover;
      width: 100%;
    }
    @media screen and (max-width: "1023px") {
      margin-top: 24px;
    }
  }
  .pr-2 {
    padding-right: 0.5rem;
    @media screen and (max-width: "1023px") {
      padding-right: 0 !important;
    }
  }
  .pl-2 {
    padding-left: 0.5rem;
    @media screen and (max-width: "1023px") {
      padding-left: 0 !important;
    }
  }
  button {
    border: 1px solid $border-color;
    padding: 8px 24px;
    font-size: 14px;
    border-radius: 5px;
    &.cancel {
      background: $white;
    }
    &.save {
      color: $white;
      background: $purple;
    }
  }
}
::ng-deep {
  .mdc-dialog .mdc-dialog__content.address-wrapper {
    padding: 24px !important;
    color: $black !important;
    font-size: 14px !important;
    font-family: "Sans_Pro", sans-serif !important;
    min-height: 60vh !important;
  }
  .mdc-dialog__title.doctor-title-cross {
    padding: 12px 24px !important;
  }
  .px-12 {
    padding-left: 12px;
    padding-right: 12px;
  }
  .gy-8 {
    gap: 8px 0;
  }
  .mdc-dialog__actions {
    padding: 0 !important;
  }
}
:host::ng-deep {
  .ng-select .ng-select-container {
    height: 48px !important;
    padding: 0 10px !important;
    border: 1px solid $border-color;
    .ng-value-container .ng-input > input {
      padding: 7px 10px !important;
    }
  }
}
.google-map {
  display: flex;
  min-height: 400px;
}
