<section class="critical-issues">
  <div class="critical-issues__wrapper">
    <h2>
      {{ "FROM_LITTLE_TO_CRITICAL_ISSUES" | translate }}
    </h2>
  </div>

  <div
    class="critical-issues__carousel"
    style="margin-left: 7.5%"
    *ngIf="width > 767 && isBrowser"
  >
    <owl-carousel-o [options]="customOptions">
      <ng-container *ngFor="let slide of apiData; let i = index">
        <ng-template
          class="slide"
          carouselSlide
          [id]="slide.id + 'c'"
          [width]="cardWidth"
        >
          <div class="critical-issues__carousel__items">
            <div class="center">
              <div class="critical-issues__carousel__items__image">
                <div
                  class="profile-icon cursor-pointer"
                  *ngIf="!slide.image"
                  (click)="viewDoctor(slide?.name)"
                >
                  {{ slide?.name | nameInitial | async | uppercase }}
                </div>
                <img
                  class="cursor-pointer"
                  [src]="slide.image"
                  [alt]="slide?.name"
                  *ngIf="slide.image"
                  (click)="viewDoctor(slide?.name)"
                />
              </div>
            </div>
            <h2
              (click)="viewDoctor(slide?.name)"
              class="cursor-pointer line-clamp-2"
            >
              {{ slide?.name }}
            </h2>
          </div>
        </ng-template>
      </ng-container>
    </owl-carousel-o>
  </div>
  <div
    class="critical-issues__carousel"
    style="margin-left: 5%"
    *ngIf="width < 767 && isBrowser"
  >
    <owl-carousel-o [options]="customOptions">
      <ng-container *ngFor="let slide of apiData; let i = index">
        <ng-template
          class="slide"
          carouselSlide
          [id]="slide.id + 'c'"
          [width]="cardWidth"
        >
          <div class="d-flex flex-column gap-3">
            <div class="critical-issues__carousel__items" *ngIf="slide[0]">
              <div class="center">
                <div class="critical-issues__carousel__items__image">
                  <div
                    class="profile-icon"
                    *ngIf="!slide[0]?.image"
                    (click)="viewDoctor(slide[0]?.name)"
                  >
                    {{ slide[0]?.name | nameInitial | async | uppercase }}
                  </div>
                  <img
                    class=""
                    [src]="slide[0]?.image"
                    [alt]="slide[0]?.name"
                    *ngIf="slide[0]?.image"
                    (click)="viewDoctor(slide[0]?.name)"
                  />
                </div>
              </div>
              <h2 (click)="viewDoctor(slide[0]?.name)">
                {{ slide[0]?.name }}
              </h2>
            </div>

            <div class="critical-issues__carousel__items" *ngIf="slide[1]">
              <div class="center">
                <div class="critical-issues__carousel__items__image">
                  <div
                    class="profile-icon"
                    *ngIf="!slide[1]?.image"
                    (click)="viewDoctor(slide[1]?.name)"
                  >
                    {{ slide[1]?.name | nameInitial | async | uppercase }}
                  </div>
                  <img
                    class=""
                    [src]="slide[1]?.image"
                    [alt]="slide[1]?.name"
                    *ngIf="slide[1]?.image"
                    (click)="viewDoctor(slide[1]?.name)"
                  />
                </div>
              </div>
              <h2 (click)="viewDoctor(slide[1]?.name)">
                {{ slide[1]?.name }}
              </h2>
            </div>
          </div>
        </ng-template>
      </ng-container>
    </owl-carousel-o>
  </div>
</section>
