<div class="d-flex">
  <div class="extra-div" *ngIf="!doctorList">
    <button class="svg-icon-button" (click)="showDoctorList()">
      <svg-icon src="assets/images/svg/next.svg" *ngIf="!doctorList"></svg-icon>
      <svg-icon
        src="assets/images/svg/previous.svg"
        *ngIf="doctorList"
      ></svg-icon>
    </button>
  </div>
  <div class="month-view" [ngClass]="{ 'adjust-width': doctorList }">
    <table class="calendar-table">
      <caption></caption>
      <thead>
        <tr class="font-400">
          <th>{{ "SUN" | translate }}</th>
          <th>{{ "MON" | translate }}</th>
          <th>{{ "TUE" | translate }}</th>
          <th>{{ "WED" | translate }}</th>
          <th>{{ "THU" | translate }}</th>
          <th>{{ "FRI" | translate }}</th>
          <th>{{ "SAT" | translate }}</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let week of weeks">
          <td
            *ngFor="let day of week"
            class="calendar-day"
            [ngClass]="{
              'past-date': day.prevMonth || day.nextMonth,
              'event-appointment': day?.details?.length,
              today:
                (day.date | date : 'dd/MM/yyyy') ==
                (today | date : 'dd/MM/yyyy')
            }"
            [attr.data-patient-list]="day.details | stringify | async"
          >
            <div
              class="calendar-day-header d-flex flex-column justify-content-between h-100"
            >
              <div class="d-flex justify-content-end">
                <strong>{{ day.date | date : "d" }}</strong>
              </div>
              <div class="d-flex flex-column text-center w-fit gap-2">
                <span class="text-32">
                  {{ day.appointments ? day.appointments : "" }}
                </span>
                <span *ngIf="day.appointments">{{ "APPTS" | translate }}</span>
              </div>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
