<section>
  <div class="first-section">
    <h1 class="text-center m-0">What we are</h1>
    <p class="mt-3">
      Welcome to Nectar+ Healthcare, a place where you will find every type of
      affordable and quality healthcare. We work around the clock to deliver
      comprehensive, authentic, and well curated information and care. It is our
      aim to make sure that our users can take the best healthcare decisions for
      themselves.
    </p>
  </div>
  <div class="second-section">
    <div class="wrapper">
      <h2 class="text-center m-0">Our Approach</h2>
      <p class="mt-3 text-center">
        Our approach has been clear all along. We are simply inclined towards
        the fact that patients deserve better.
      </p>
      <div class="d-flex justify-content-between gap-5 sm-flex-col">
        <div class="box">
          <img
            loading="lazy"
            src="assets/images/svg/high-quality 1.svg"
            alt=""
          />
          <h2>Quality</h2>
          <p class="mt-3">
            At Nectar+ Healthcare, people will be able to find health experts
            who are best for them. We make sure that our healthcare providers
            are highly rated, highly specialized, experienced, knowledgeable and
            most importantly practice nearby, so that the patient can contact
            them easily
          </p>
        </div>
        <div class="box">
          <img loading="lazy" src="assets/images/svg/privacy 1.svg" alt="" />
          <h2>Privacy</h2>
          <p class="mt-3">
            Understanding the importance of data privacy and security for
            patients as well as the healthcare providers, Nectar+ Healthcare
            strives to safeguard its users confidentiality and integrity. Our
            stringent policies disables anyone to compromise with users data at
            any step on the way.
          </p>
        </div>
        <div class="box">
          <img loading="lazy" src="assets/images/svg/relation 1.svg" alt="" />
          <h2>Building Relation</h2>
          <p class="mt-3">
            Healthcare is not limited to consultation, diagnosis and treatment.
            It stretches far to building a relationship of trust and connection
            between patients and doctors resulting in a sustainable care and
            better possible outcome for every treatment.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
