<section class="privacy-policy-section">
  <div class="wrapper">
    <div class="heading">
      <h2>Terms & Conditions</h2>
    </div>
  </div>
  <div class="content">
    <div class="content-wrap" style="margin-top: 20px">
      <p>
        <span>Nectar Plus Healthcare LLP</span> and its affiliates/group
        companies are the authors and publishers of the internet resource Nectar
        Plus Healthcare LLP(nectarplus.health) (the "Website").
      </p>

      <p class="mt-3">
        The Website includes content, design, layout, and look and feel that are
        all owned by Nectar+. You may not use the Website or any of its content
        without the express written permission of Nectar+.
      </p>
      <p class="mt-3">
        By using the Website, you agree to the following terms and conditions:
      </p>
      <ul class="mt-3">
        <li>
          You will not use the Website for any illegal or unauthorized purpose.
        </li>
        <li>
          You will not interfere with the operation of the Website or its
          servers.
        </li>
        <li>
          You will not post any content on the Website that is offensive,
          defamatory, or otherwise harmful.
        </li>
        <li>
          You will not represent or imply that you have any affiliation with
          Nectar+ other than that which is expressly set forth in these terms
          and conditions.
        </li>
      </ul>
      <p>
        Nectar+ reserves the right to terminate your access to the Website at
        any time for any reason.
      </p>

      <label class="mt-5">1. NATURE AND APPLICABILITY OF TERMS</label>
      <p class="mt-3">
        These terms and conditions (the "Agreement") govern your use of the
        <span>Nectar+ Healthcare</span> website (the "Website") and the services
        offered on the Website (the "Services"). By using the Website or the
        Services, you agree to be bound by this Agreement.
      </p>
      <p class="mt-3">
        The Agreement applies to all users of the Website, including but not
        limited to:
      </p>
      <ul class="mt-3">
        <li>
          Medical practitioners or healthcare providers who are listed on the
          Website.
        </li>
        <li>Patients who search for practitioners on the Website.</li>
        <li>Any other user of the Website.</li>
      </ul>

      <p class="mt-3">The Services offered on the Website include:</p>
      <ul class="mt-3">
        <li>Listing of practitioners and their profiles and contact details</li>
        <li>The ability to create and maintain a "Health Account"</li>
        <li>
          The ability to search for practitioners by name, specialty, and
          geographical area
        </li>
        <li>The ability to book appointments with practitioners</li>
        <li>
          The Services may change from time to time at the discretion of Nectar+
          Healthcare.
        </li>
      </ul>
      <p class="mt-3">By using the Website or the Services, you agree to:</p>
      <ul class="mt-3">
        <li>Abide by all of the terms and conditions of this Agreement</li>
        <li>Provide accurate and up-to-date information about yourself</li>
        <li>
          Not use the Website or the Services for any illegal or unauthorized
          purpose
        </li>
        <li>Not infringe the intellectual property rights of others</li>
        <li>
          Not post any content on the Website that is offensive, defamatory, or
          otherwise harmful
        </li>
      </ul>
      <p>
        Nectar+ Healthcare reserves the right to modify or terminate any portion
        of this Agreement at any time. If you do not agree to any modification
        to this Agreement, you must cease using the Website and the Services.
      </p>

      <p class="mt-3">
        This Agreement is governed by the laws of India. Any dispute arising out
        of this Agreement will be resolved in the courts of India.
      </p>

      <label class="mt-5">2. CONDITIONS OF USE </label>
      <p class="mt-3">
        You must be at least 18 years old to use Nectar+ Healthcare. By
        registering, visiting, or using the Website, you are representing and
        warranting that you are at least 18 years old and that you have the
        right, authority, and capacity to use the Website and the Services
        available through the Website. You also agree to and abide by this
        Agreement.
      </p>
      <label class="mt-5"
        >3. TERMS OF USE APPLICABLE TO ALL USERS OTHER THAN PRACTITIONERS
      </label>
      <div class="text-purple mt-3 mx-3">
        3.1 END-USER ACCOUNT AND DATA PRIVACY
      </div>
      <ul class="mt-3">
        <li>
          Nectar+ Healthcare will collect information about the devices you use
          to access the website, as well as anonymous data about your usage.
          This information will only be used to improve the quality of Nectar+
          Healthcare's services and to develop new services.
        </li>
        <li>
          Nectar+ Healthcare will have access to your personal email address or
          phone number if you are a registered user. This is so that we can
          communicate with you about booking appointments and obtaining feedback
          about practitioners and their practices.
        </li>
        <li>
          You can read more about how Nectar+ Healthcare collects and uses your
          data in our Privacy Policy.
        </li>
      </ul>

      <div class="text-purple mt-3 mx-3">3.2 Relevance Algorithm</div>

      <ul class="mt-3">
        <li>
          Nectar+ Healthcare uses a fully automated system to rank practitioners
          and their practices on the website. This ranking does not represent
          any endorsement by Nectar+ Healthcare.
        </li>
        <li>
          The ranking of practitioners is based on a number of factors,
          including user feedback and the practitioner's specialization,
          qualifications, fees, location, and visiting hours. These factors may
          change from time to time, as Nectar+ Healthcare strives to improve the
          ranking algorithm.
        </li>
        <li>
          Nectar+ Healthcare is not responsible for the accuracy or relevance of
          the ranking order of practitioners on the website.
        </li>
      </ul>
      <div class="text-purple mt-3 mx-3">
        3.3 Listing Content and Disseminating Information
      </div>
      <ul class="mt-3">
        <li>
          Nectar+ Healthcare collects and displays information about
          practitioners, such as their specialization, qualifications, fees,
          location, visiting hours, and similar details. We take reasonable
          steps to ensure that this information is up-to-date, but we cannot be
          held liable for any inaccuracies or incompleteness.
        </li>
        <li>
          The services provided by Nectar+ Healthcare are provided on an "as is"
          and "as available" basis, and without any warranties or conditions
          (express or implied). Nectar+ Healthcare does not guarantee the
          accuracy or completeness of any content or information provided by
          users on the website.
        </li>
        <li>
          Nectar+ Healthcare is not liable for any damages to your equipment or
          for any viruses that may infect your equipment as a result of using
          the website. If you are dissatisfied with the website, your only
          remedy is to stop using it.
        </li>
        <li>
          If Nectar+ Healthcare determines that you have provided fraudulent,
          inaccurate, or incomplete information, we may suspend your access to
          the website or any of your accounts with Nectar+ Healthcare. You will
          be liable to indemnify Nectar+ Healthcare for any losses incurred as a
          result of your misrepresentations or fraudulent feedback.
        </li>
        <li>
          The information published under the "Industry-wide city-wise Pricing
          Graph" is derived from a benchmarking group that is determined to be
          relevant by Nectar+ Healthcare in the relevant city. Nectar+
          Healthcare does not have the ability to ascertain the accuracy of the
          data based on which the information has been published, and we are not
          liable for any consequences arising out of the use of this
          information.
        </li>
      </ul>

      <div class="text-purple mt-3 mx-3">3.4 Book Appointments</div>
      <p class="mt-3 mx-3">
        Nectar+ Healthcare enables users to connect with practitioners through a
        booking facility on the website. However, Nectar+ Healthcare is not
        responsible if the practitioner cancels the appointment or is not
        available. You can pay for your appointment at the clinic when you
        arrive. No refunds or returns are offered by Nectar+ Healthcare.
      </p>
      <p class="mx-3">
        <span class="text-purple">3.4.1</span> Nectar+ Healthcare will attempt
        to confirm appointments for users on the Book facility. However, Nectar+
        Healthcare is not liable if the practitioner cancels the appointment or
        is not available.
      </p>
      <p class="mx-3">
        <span class="text-purple">3.4.2</span> The results of any search users
        perform on the website for practitioners should not be construed as an
        endorsement by Nectar+ Healthcare of any particular practitioner. If a
        user decides to engage with a practitioner to seek medical services, the
        user does so at their own risk.
      </p>
      <p class="mx-3">
        <span class="text-purple">3.4.3</span> TNectar+ Healthcare is not
        involved in providing any healthcare or medical advice or diagnosis and
        is therefore not responsible for any interactions between users and
        practitioners. Nectar+ Healthcare will not be liable for:
      </p>
      <ul>
        <li>
          Interactions between users and practitioners, including any issues
          that may arise from such interactions.
        </li>
        <li>
          The ability or intent of practitioners to fulfill their obligations to
          users.
        </li>
        <li>
          Any wrong medication or quality of treatment given by practitioners,
          or any medical negligence on the part of practitioners.
        </li>
        <li>
          Inappropriate treatment or any other inconvenience suffered by users
          due to the failure of practitioners to provide agreed services.
        </li>
        <li>
          Misconduct or inappropriate behavior by practitioners or their staff.
        </li>
        <li>
          Cancellation or non-availability of practitioners, rescheduling of
          booked appointments, or any variation in the fees charged, provided
          that these have been addressed.
        </li>
      </ul>
      <p class="mx-3">
        <span class="text-purple">3.4.4</span> Users are allowed to provide
        feedback about their experiences with practitioners. However, users must
        ensure that such feedback is provided in accordance with applicable law.
        Nectar+ Healthcare is not obliged to act in accordance with the content
        of user feedback, such as suggestions for delisting a particular
        practitioner from the website.
      </p>
      <p class="mx-3">
        <span class="text-purple">3.4.5</span> Nectar+ Healthcare enables users
        to connect with practitioners through a booking facility on the website.
        However, Nectar+ Healthcare is not responsible if the practitioner
        cancels the appointment or is not available. You can pay for your
        appointment at the clinic when you arrive. No refunds or returns are
        offered by Nectar+ Healthcare.
      </p>

      <p class="mt-3">
        Nectar+ Healthcare is not responsible in cases where the Practitioner is
        unable to meet the User at the exact time of the scheduled appointment
        time and the User is required to wait, or choose to not obtain the
        medical services from the said Practitioner.
      </p>

      <div class="text-purple mt-3 mx-3">
        3.5 NO DOCTOR-PATIENT RELATIONSHIP; NOT FOR EMERGENCY USE
      </div>
      <ul class="mt-3">
        <li>
          <span>Information on the Website:</span> Some of the content on the
          Nectar+ Healthcare website may be provided by individuals in the
          medical profession. However, this does not create a doctor-patient
          relationship between you and Nectar+ Healthcare. The information on
          the website is for informational purposes only and does not constitute
          medical advice. Nectar+ Healthcare does not guarantee the accuracy or
          completeness of the information on the website, and is not liable for
          any decisions you make or actions you take based on the information on
          the website.
        </li>
        <li>
          <span>Not a Substitute for Emergency Care:</span> The Nectar+
          Healthcare website is not intended to be a substitute for emergency
          care. If you are facing a medical emergency, please contact an
          ambulance service or hospital directly.
        </li>
        <li>
          <span>Disclaimer</span> Nectar+ Healthcare makes no guarantees,
          representations, or warranties, whether express or implied, with
          respect to the professional qualifications, quality of work,
          expertise, or other information provided on the website. In no event
          shall Nectar+ Healthcare be liable to you or anyone else for any
          decision you make or action you take based on the information on the
          website.
        </li>
      </ul>

      <div class="text-purple mt-3 mx-3">3.6 REVIEWS AND FEEDBACK</div>
      <p class="mx-3 mt-3">
        <span> 3.6.1 Privacy and Liability:</span> By using the Nectar+
        Healthcare website, you agree that any information you share with us
        will be subject to our Privacy Policy. You are also solely responsible
        for the content you submit to the website, including any feedback,
        ratings, or reviews. Nectar+ Healthcare is not responsible for the
        content of this feedback, and we may choose not to publish it if it
        violates our terms of service or applicable law.
      </p>
      <p class="mx-3">
        <span> 3.6.2 Feedback Collection:</span> Nectar+ Healthcare may contact
        you to obtain feedback about the website, practitioners, or your
        Critical Content. You agree to cooperate with us in this process.
      </p>
      <p class="mx-3">
        <span> 3.6.3 Intellectual Property:</span> You agree not to post or
        publish any content on the website that infringes on the intellectual
        property rights of others.
      </p>
      <p class="mx-3">
        <span>3.6.4 Feedback Collection and Fraud Detection Policy:</span> The
        Feedback Collection and Fraud Detection Policy is annexed to these terms
        and conditions. This policy sets out how Nectar+ Healthcare collects and
        uses feedback from users, and how it detects and prevents fraud.
      </p>

      <p class="mx-4 mt-3">
        You agree that Nectar+ Healthcare may contact you through telephone,
        email, SMS, or any other electronic means of communication for the
        purpose of:
      </p>
      <ul class="mx-3">
        <li>
          Obtaining feedback in relation to Website or Nectar+ Healthcare
          services; and/or
        </li>
        <li>
          Obtaining feedback in relation to any Practitioners listed on the
          Website; and/or
        </li>
        <li>
          Resolving any complaints, information, or queries by Practitioners
          regarding your Critical Content;
        </li>
        <li>
          and you agree to provide your fullest co-operation further to such
          communication by Nectar+ Healthcare. Nectar+ Healthcare Feedback
          Collection and Fraud Detection Policy, is annexed as the Schedule
          hereto, and remains subject always to these Terms.
        </li>
      </ul>

      <label class="mt-5">
        4. TERMS OF USE(For Practitioners & Establishments)
      </label>
      <p class="mt-3">
        The terms in this Clause 4 are applicable only to Practitioners and
        Establishments.
      </p>
      <div class="text-purple mt-3">For Practitioners</div>

      <p class="mx-3 mt-3">
        <span>4.1 Listing Policy:</span> Nectar+ Healthcare collects information
        about practitioners, including their profiles, contact details, and
        practice. This information is used to facilitate interaction with users.
        Nectar+ Healthcare reserves the right to take down any practitioner's
        profile, or to display it, with or without notice to the practitioner.
      </p>
      <p class="mx-3 mt-3">
        <span>4.2 Profile Ownership and Editing Rights:</span> Nectar+
        Healthcare owns all of the practitioner's profile and photographs.
        Practitioners can update their profile information, but Nectar+
        Healthcare has the final say on whether to publish or reject the
        changes. Practitioners must ensure that they have the right to upload
        all content to their profile.
      </p>
      <p class="mx-3 mt-3">
        <span>
          4.3 Reviews and Feedback Display Rights of Nectar+ Healthcare:</span
        >
        Nectar+ Healthcare collects feedback and critical content from users
        about practitioners. It is important for the practitioner to mark
        appointments as completed when the patient shows up at an Establishment
        and takes the consultation, as then the automated review or feedback is
        sent to the patient. This content is not pre-screened, reviewed, or
        filtered by Nectar+ Healthcare. Users may be exposed to critical content
        that they find offensive or objectionable. Nectar+ Healthcare is not
        liable for any negative effects on a practitioner's business due to
        critical content.
      </p>
      <p class="mx-3 mt-3">
        <span> 4.4 Relevance Algorithm:</span>
        Nectar+ Healthcare has designed the relevance algorithm in the best
        interest of users. The algorithm is proprietary and cannot be altered
        for specific practitioners. Nectar+ Healthcare is not liable for any
        effect on a practitioner's business interests due to the change in the
        relevance algorithm.
      </p>
      <p class="mx-3 mt-3">
        <span> 4.5 Independent Services:</span>
        Each service offered by Nectar+ Healthcare is independent of the others.
        Your use of one service does not give you rights to any other service.
      </p>
      <p class="mx-3 mt-3">
        <span>4.6 Practitioner Undertaking:</span>
        The practitioner must be duly registered, licensed, and qualified to
        practice medicine or provide healthcare services. The practitioner must
        also comply with all applicable laws.
      </p>
      <p class="mx-3 mt-3">
        <span> 4.7 Usage in Promotional and Marketing Materials:</span>
        Nectar+ Healthcare may use the practitioner's name, logo, and other
        branding materials in its promotional and marketing materials. The
        practitioner has the right to review and approve these materials.
      </p>
      <p class="mx-3 mt-3">
        <span> 4.8 Doctor’s Appointment and Profile Management Tool: </span>
        Doctors can view and manage the appointments that have been booked for
        them and accept or decline them. Also, Doctors can view, manage, and
        update their profiles through the Nectar+Health tool.This includes
        updating their contact information, Slots Availability, medical license
        number, Education, Specialisation, Awards & Recognitions, Services,
        Procedures and Memberships. Doctors can also add their establishment as
        visiting consultant to their profile, but the establishment will only be
        added once it is approved by the establishment owner.
      </p>
      <p class="mx-3 mt-3">
        <span> 4.9 Cancellation and Rescheduling: </span>
        Patients can cancel or reschedule their appointments. Doctors can also
        cancel or reschedule their appointments.
      </p>
      <p class="mx-3 mt-3">
        <span> 4.10 Payments: </span>
        Patients will make payments in person at the clinic. Nectar+Health does
        not charge a processing fee or appointment fee for the booking of the
        appointment. The consultation fees will be paid by the patient in-person
        at the clinic. Nectar+Health is not responsible in any case of a
        patient's unavailability.
      </p>
      <p class="mx-3 mt-3">
        <span>4.11 Automated Messages: </span>
        Nectar+Health will send automated messages to both patients and doctors
        when appointments are rescheduled or canceled. These messages will be
        sent to the email addresses and phone numbers that are associated with
        the patient or doctor's Nectar+Health account.
      </p>
      <p class="mt-3 mx-3">
        The automated messages will include the following information:
      </p>
      <ul class="mt-3">
        <li>The date and time of the appointment</li>

        <li>The reason for the reschedule or</li>
        <li>
          cancellation The new date and time of the appointment, if applicable
        </li>
      </ul>

      <div class="text-purple mt-3">For Establishments</div>

      <p class="mx-3 mt-3">
        <span>4.1 Listing Policy: </span>
        Nectar+ Healthcare collects information about Establishment, including
        their profiles, contact details, and practice. This information is used
        to facilitate interaction with users. Nectar+ Healthcare reserves the
        right to take down any Establishment's profile, or to display it, with
        or without notice to the Establishment.
      </p>
      <p class="mx-3 mt-3">
        <span>4.2 Profile Ownership and Editing Rights:</span>
        Nectar+ Healthcare owns all of the practitioner's profile and
        photographs. Establishment can update their profile information, but
        Nectar+ Healthcare has the final say on whether to publish or reject the
        changes. The establishment must ensure that they have the right to
        upload all content to their profile.
      </p>
      <p class="mx-3 mt-3">
        <span
          >4.3 Reviews and Feedback Display Rights of Nectar+ Healthcare:
        </span>
        Nectar+ Healthcare collects feedback and critical content from users
        about Establishment. It is important for the practitioners(in the panel
        of doctors) to mark appointments as completed when the patient shows up
        at an Establishment and takes the consultation, as then the automated
        review or feedback will be sent to the patient. This content is not
        pre-screened, reviewed, or filtered by Nectar+ Healthcare. Users may be
        exposed to critical content that they find offensive or objectionable.
        Nectar+ Healthcare is not liable for any negative effects on a
        practitioner's business due to critical content.
      </p>
      <p class="mx-3 mt-3">
        <span>4.4 Relevance Algorithm: </span>
        Nectar+ Healthcare has designed the relevance algorithm in the best
        interest of users. The algorithm is proprietary and cannot be altered
        for specific Establishment. Nectar+ Healthcare is not liable for any
        effect on an Establishment's business interests due to the change in the
        relevance algorithm.
      </p>
      <p class="mx-3 mt-3">
        <span>4.5 Independent Services:</span>
        Each service offered by Nectar+ Healthcare is independent of the others.
        Your use of one service does not give you rights to any other service.
      </p>
      <p class="mx-3 mt-3">
        <span>4.6 Establishment Undertaking: </span>
        The must be duly registered and licensed to provide healthcare services.
        The establisment must also comply with all applicable laws.
      </p>
      <p class="mx-3 mt-3">
        <span>4.7 Usage in Promotional and Marketing Materials: </span>
        Nectar+ Healthcare may use the Establishment's name, logo, and other
        branding materials in its promotional and marketing materials. The
        practitioner has the right to review and approve these materials.
      </p>
      <p class="mx-3 mt-3">
        <span
          >4.8 Doctor’s Appointment and Establishment Profile Management Tool:
        </span>
        Doctors (Inclusive in the Establishment panel and who own their profile
        on Nectar+ Health) can view and manage the appointments that have been
        booked for them and accept or decline them.
      </p>
      <p class="mx-3">
        Also, Establishment/Establishment manager can view, manage, and update
        their profiles through the Nectar+Health tool. This includes updating
        their contact information, Slots Availability,, Services, Procedures,
        FAQ’s and Videos. Establishment/Establishment manager can also add
        Doctors in the panel as a visiting consultant to their profile, but the
        practitioner will only be added once it is approved by the doctor in
        their Nectar+ Doctor Tool.
      </p>
      <p class="mx-3 mt-3">
        <span>4.9 Cancellation and Rescheduling: </span>
        Patients can cancel or reschedule their appointments. Doctors can also
        cancel or reschedule their appointments.
      </p>
      <p class="mx-3 mt-3">
        <span>4.10 Payments: </span>
        Patients will make payments in person at the clinic/Hospital.
        Nectar+Health does not charge a processing fee or appointment fee for
        the booking of the appointment. The consultation fees will be paid by
        the patient in-person at the clinic. Nectar+Health is not responsible in
        any case of a patient's unavailability.
      </p>
      <p class="mx-3 mt-3">
        <span>4.11 Automated Messages: </span>
        Nectar+Health will send automated messages to both patients, doctors and
        Estabishments when appointments are rescheduled or cancelled. These
        messages will be sent to the email addresses and phone numbers that are
        associated with the patient or doctor's Nectar+Health account.
      </p>
      <p class="mx-3 mt-3">
        Nectar+Health will send automated messages to both patients, doctors and
        Estabishments when appointments are rescheduled or cancelled. These
        messages will be sent to the email addresses and phone numbers that are
        associated with the patient or doctor's Nectar+Health account.
      </p>
      <ul class="mt-3">
        <li>The date and time of the appointment</li>

        <li>The reason for the reschedule or</li>
        <li>
          cancellation The new date and time of the appointment, if applicable
        </li>
      </ul>

      <label class="mt-5">5. RIGHTS AND OBLIGATIONS RELATING TO CONTENT </label>

      <p class="mt-3">
        <span> 5.1</span> Nectar+ Healthcare hereby informs Users, as mandated
        by Regulation 3(2) of the IG Rules, that they are strictly prohibited
        from hosting, displaying, uploading, modifying, publishing,
        transmitting, updating, or sharing any information that falls under the
        following categories: a) Information that belongs to another person and
        for which the User does not possess the necessary rights. b) Content
        that is grossly harmful, harassing, blasphemous, defamatory, obscene,
        pornographic, pedophilic, libelous, invasive of privacy, hateful,
        racially or ethnically objectionable, disparaging, or encourages money
        laundering, gambling, or any unlawful activities. c) Content that harms
        minors in any way. d) Information that infringes any patent, trademark,
        copyright, or other proprietary rights. e) Content that violates any
        current laws and regulations. f) Messages that deceive, mislead, or
        communicate grossly offensive or menacing information to the recipient.
        g) Impersonating another individual. h) Information containing software
        viruses or any other computer code, files, or programs intended to
        disrupt, destroy, or limit the functionality of any computer resource.
        i) Content that threatens the unity, integrity, defense, security, or
        sovereignty of India, friendly relations with foreign states, public
        order, or incites the commission of any cognizable offense or insults
        any other nation.
      </p>
      <p class="mt-3">
        <span> 5.2</span> Furthermore, Users are explicitly prohibited from
        engaging in the following activities: a) Violating or attempting to
        violate the integrity or security of the Website or any Nectar+
        Healthcare Content. b) Transmitting disruptive or competitive
        information (including job posts, messages, and hyperlinks) through the
        Website that interferes with the provision of Services by Nectar+
        Healthcare. c) Intentionally submitting incomplete, false, or inaccurate
        information on the Website. d) Initiating unsolicited communications to
        other Users. e) Using engines, software, tools, agents, or other devices
        or mechanisms (e.g., spiders, robots, avatars, or intelligent agents) to
        navigate or search the Website. f) Attempting to decipher, decompile,
        disassemble, or reverse engineer any part of the Website. g) Copying or
        duplicating Nectar+ Healthcare Content or any other information
        available on the Website in any manner. h) Framing, hotlinking, or deep
        linking any Nectar+ Healthcare Content. i) Circumventing or disabling
        any digital rights management, usage rules, or other security features
        of the Software.
      </p>

      <p class="mt-3">
        <span> 5.3</span> Should Nectar+ Healthcare become aware, either through
        its own discovery or upon receiving written notice or email with an
        electronic signature from an affected individual, about any information
        that violates Clauses 5.1 and 5.2, the company reserves the right to
        disable such non-compliant information. Additionally, Nectar+ Healthcare
        may preserve such information and associated records for at least 90
        (ninety) days for the purpose of potential investigations by
        governmental authorities.
      </p>

      <p class="mt-3">
        <span> 5.4</span> If any User fails to comply with applicable laws,
        rules, regulations, or the Agreement (including the Privacy Policy),
        Nectar+ Healthcare reserves the right to terminate the User's access or
        usage rights to the Website and Services immediately and remove any
        non-compliant information from the Website.
      </p>

      <p class="mt-3">
        <span>5.5 </span>
        Nectar+ Healthcare may disclose or transfer User-generated information
        to its affiliates or governmental authorities in accordance with
        applicable law, and by using the Website, you consent to such transfer.
        The SPI Rules permit Nectar+ Healthcare to transfer sensitive personal
        data or information, including any information, to any other body
        corporate or person in India or any other country, ensuring the same
        level of data protection adhered to by Nectar+ Healthcare under the SPI
        Rules, only if such transfer is necessary for the performance of a
        lawful contract between Nectar+ Healthcare or any representative and the
        User, or where the User has consented to such data transfer.
      </p>
      <p class="mt-3">
        Nectar+ Healthcare values the intellectual property rights of others and
        disclaims any responsibility for violations of such rights.
      </p>

      <label class="mt-5">6. TERMINATION </label>
      <div class="text-purple mt-3">
        6.1 Suspension or termination of access
      </div>
      <p>
        Nectar+ Healthcare may suspend or terminate a user's access to the
        website and the services without notice if the user:
      </p>
      <ul class="mt-3">
        <li>Breaches any of the terms and conditions of the agreement;</li>
        <li>Violates the rights of a third party;</li>

        <li>
          Provides Nectar+ Healthcare with false or misleading information;
        </li>
        <li>Engages in illegal, fraudulent, or abusive activity; or</li>
        <li>
          Takes any action that Nectar+ Healthcare believes may cause legal
          liability for the user, other users, or Nectar+ Healthcare.
        </li>
      </ul>

      <div class="text-purple mt-3">6.2 Consequences of termination</div>

      <p class="mt-3">
        If a user's account is suspended or terminated, the user will no longer
        be able to use the website under the same account, a different account,
        or a new account. The user will also lose access to all data, messages,
        files, and other material that is stored on the website. The user is
        responsible for ensuring that they have a backup of any medical services
        that they have rendered in order to comply with their record keeping
        practices.
      </p>
      <p class="mt-3">Here are some additional clarifications:</p>
      <p class="mt-3">
        The phrase "indefinitely suspended" means that the user's access to the
        website and the services is suspended for an indefinite period of time.
        The phrase "termination of an account" means that the user's account is
        permanently closed and they will no longer be able to use the website or
        the services. The phrase "data, messages, files, and other material"
        includes any information that is stored on the website by the user, such
        as their profile information, medical records, and messages.
      </p>

      <label class="mt-5">7. LIMITATION OF LIABILITY </label>

      <p class="mt-3">
        Under no circumstances, including negligence, shall Nectar+ Healthcare
        or any of its directors, officers, employees, agents, or content/service
        providers (referred to collectively as the "Protected Entities") be held
        liable for any direct, indirect, special, incidental, consequential,
        exemplary, or punitive damages arising from or related to the use of, or
        inability to use, the Website, its content, materials, and associated
        functions, as well as the Services offered. This includes any damages
        arising from lost business or lost End-Users, even if the Protected
        Entities were advised of the possibility of such damages.
      </p>

      <p class="mt-3">
        The Protected Entities shall not be liable for the following:
      </p>

      <ul class="mt-3">
        <li>
          The provision of or failure to provide any service by Practitioners to
          End-Users contacted or managed through the Website.
        </li>
        <li>
          Any content posted, transmitted, exchanged, or received by Users or
          any other person on or through the Website.
        </li>
        <li>
          Any unauthorized access to or alteration of your transmissions or
          data.
        </li>
        <li>
          These limitations on liability apply irrespective of the basis of the
          claim, whether in contract, tort, strict liability, or any other legal
          theory, and even if the Protected Entities were made aware of the
          potential for such damages.
        </li>
      </ul>
      <p class="mt-3">
        In any case, the total liability of the Protected Entities, if proven,
        shall not exceed the amount paid,
      </p>
      <p class="mt-3">
        The User acknowledges and agrees that the above limitations and
        exclusions of liability are fundamental elements of this Agreement, and
        the Website and Services would not be provided to the User without such
        limitations.
      </p>

      <label class="mt-5">8. RETENTION AND REMOVAL </label>

      <p class="mt-3">
        Nectar+ Healthcare may retain the information it collects from users for
        as long as is necessary to fulfill the purposes for which it was
        collected, such as providing the services, complying with legal
        obligations, or resolving disputes. The specific retention period will
        vary depending on the type of information and the purpose for which it
        was collected.
      </p>

      <p class="mt-3">
        For example, Nectar+ Healthcare may retain your contact information for
        as long as you are a registered user of the website or services.
        However, it may only retain your medical records for as long as is
        required by law.
      </p>
      <p class="mt-3">
        In addition, Nectar+ Healthcare may retain computer web server logs for
        as long as is administratively necessary. This is to help us
        troubleshoot problems with the website or services and to improve our
        performance.
      </p>
      <p class="mt-3">
        You can request that Nectar+ Healthcare delete your information at any
        time. However, please note that we may not be able to delete your
        information immediately, as we may need to retain it for some period of
        time to fulfill our legal obligations or to resolve disputes.
      </p>
      <p class="mt-3">
        If you have any questions about our data retention practices, please
        contact us.
      </p>

      <label class="mt-5"> 9. APPLICABLE LAW AND DISPUTE SETTLEMENT </label>

      <div class="text-purple mx-3 mt-3">Applicable Law</div>
      <p class="mx-3 mt-3">
        This Agreement and any contractual obligation between Nectar Plus
        Healthcare LLP and User will be governed by the laws of India.
      </p>
      <div class="text-purple mx-3 mt-3">Dispute Settlement</div>
      <p class="mx-3 mt-3">
        Any dispute, claim, or controversy arising out of or relating to this
        Agreement, including the determination of the scope or applicability of
        this Agreement to arbitrate, shall be determined by arbitration in
        India. The arbitration will be conducted in accordance with the
        Arbitration and Conciliation Act, 1996. The seat of the arbitration
        shall be in India. All proceedings of the arbitration, including any
        awards, shall be in the English language. The award shall be final and
        binding on the parties to the dispute.
      </p>
      <div class="text-purple mx-3 mt-3">Jurisdiction</div>
      <p class="mx-3 mt-3">
        The courts in India shall have exclusive jurisdiction over any disputes
        arising out of or in relation to this Agreement, User's use of the
        Website or the Services or the information to which it gives access.
      </p>

      <label class="mt-5">10. SEVERABILITY </label>

      <p class="mt-3">
        If a court of competent jurisdiction or arbitral tribunal deems any
        provision of the Agreement to be unenforceable under applicable law,
        that specific provision shall be considered excluded from the Agreement.
        However, the rest of the Agreement shall continue to be valid and
        enforceable as if the excluded provision did not exist. In such a case,
        the Agreement will be interpreted in a manner that upholds the meaning
        and intention of the excluded provision to the greatest extent possible
        and allowed by applicable law, as determined by the aforementioned court
        or arbitral tribunal.
      </p>
      <label class="mt-5">11.WAIVER </label>

      <p class="mt-3">
        Any provision of this Agreement shall not be considered waived, and no
        breach shall be excused unless such waiver or consent is provided in
        writing and signed by Nectar+ Healthcare. Even if Nectar+ Healthcare
        grants consent to or waives a particular breach by you, whether
        expressed or implied, it does not imply consent to, waiver of, or excuse
        for any other different or subsequent breach. Each instance of consent
        or waiver shall be treated independently and shall not affect any other
        obligations or rights under this Agreement.
      </p>
    </div>
  </div>
</section>
