* {
    margin: 0px;
    padding: 0px;
    line-height: normal;
}

.Bredcrum {
    width: calc(100%);
    max-width: calc(100%);
    display: flex;
    display: flex;
    justify-content: flex-start;
    gap: 5px;
}

.breadcrum_section {
    display: flex;
    justify-content: flex-start;
    gap: 2px;
}

.breadcrum_section p {
    color: #000;
    /* Text-1rem/Regular */
    font-family: "Source Sans Pro";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: auto;
}



.span_off small {
    font-size: 12px;
    font-weight: bold;
    color: white;
    background: -webkit-linear-gradient(#000, #ff0018);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.Uses_ectivity {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.Uses_ectivity span {
    display: flex;
    flex-wrap: wrap;
    padding: 2px 10px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-size: 12px;
    font-weight: none !important;
    color: #45197C;
    border-radius: 5px;
    background: rgba(69, 25, 124, 0.12);
    width: max-content;
}

.big-card {
    padding: 22px 100px;
}

.contaier_format {
    display: inline-flex;
    padding: 24px 344px 24px 100px;
    align-items: center;
    gap: 48px;

}

.details_image {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.custom-icon {
    display: flex;
    align-items: center;
    justify-content: center;

}

.text-black {
    font-size: 16px;
    font-family: 'Source Sans Pro';
    font-weight: 400;
    word-wrap: break-word;
    cursor: pointer;
}

.custom-icon div {
    width: 14.67px;
    height: 12.60px;
    left: 0.67px;
    top: 1.40px;
    position: absolute;
    background: black;
    border-radius: 0.20px;
}

.arrow-icon {
    width: 20px;
    height: 20px;
    position: relative;
}

.arrow-icon div {
    width: 6.17px;
    height: 10px;
    left: 7.16px;
    top: 5px;
    position: absolute;
    background: black;
}


/* Override Bootstrap or add custom styles here */
.product-description {
    color: black;
    font-family: 'Source Sans Pro', sans-serif;
    word-wrap: break-word;
    font-size: medium;
    font-weight: 700;
    margin-bottom: 15px;
}


.product-title {
    color: #000;
    font-family: "Source Sans Pro";
    font-size: 36px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    align-self: stretch;
    width: 500px;
}

.Button_collection {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    width: fit-content;
}

.rounded-pills {
    display: flex;
    padding: 4px 12px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-size: 10px;
    border-radius: 9px;
}

.Order_list {
    color: #000;
    font-family: "Source Sans Pro";
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.heding_text {
    color: #000;
    font-family: "Source Sans Pro";
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.Order_list ul {
    list-style: none;
    color: black;
    gap: 10px;
}

.cart_button {
    display: flex;
    padding: 6.5px 16px;
    justify-content: center;
    align-items: center;
    gap: 2px;
    border-radius: 5px;
    border: 1px solid rgba(69, 25, 124, 0.10);
    background: rgba(69, 25, 124, 0.10);
    background-color: #45197C;
    color: white;
    text-align: center;
    font-family: "Source Sans Pro";
    font-size: 18px;
    font-weight: 600;

}

.wishlist_button {
    display: flex;
    padding: 12px;
    align-items: center;
    gap: 10px;
    border-radius: 5px;
    background: rgba(69, 25, 124, 0.12);
    border: none;
}

.price {
    color: #45197C;
    font-size: clamp(22px, 4vw, 32px);
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 700;
    word-wrap: break-word;
    margin: auto;
}

.price_sm {
    color: #45197C;
    font-size: 18px;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 700;
    word-wrap: break-word;
}

.discount-price_sm {
    color: #808080;
    text-align: center;
    font-family: "Source Sans Pro";
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-decoration: line-through;
    margin: auto;
}

.discount-price {
    color: #808080;
    font-size: clamp(12px, 4vw, 20px);
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 700;
    text-decoration: line-through;
    word-wrap: break-word;
    line-height: 30px;
    margin: auto;
}

.col {
    width: 225px;
    max-width: 225px;
    height: auto;
    border-radius: 8px;
}


//realated product
.review_card {
    display: flex;
    align-items: center;
    align-items: center;
}

.review_card p {
    color: #FFF;
    background: #008000;
    padding: 3px 8px;
    margin-top: 7px;
    border-radius: 10px;
    font-family: "Source Sans Pro";
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.Product_company {
    color: #000;
    font-family: "Source Sans Pro";
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.Product_company span {
    color: #45197C;
    font-family: "Source Sans Pro";
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.Small_card_text {
    color: #000;
    font-family: "Source Sans Pro";
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}


.image {
    display: block;
    width: 100%;
    height: auto;
}

.overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(85, 84, 84, 0);
    overflow: hidden;
    width: 100%;
    height: 0;
    transition: .5s ease;
}

.col:hover .overlay {
    height: 100%;
}

.text {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background: white;
    font-size: 20px;
    position: absolute;
    border: 1px solid rgba(0, 0, 0, 0.30);
    border-radius: 10px;
    overflow: hidden;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -250%);
    text-align: center;
}

.text button {
    border: 1px solid rgba(0, 0, 0, 0.30);
    padding: 5px;


}

.btn-sm:hover {
    background: #b0afb1;
}

//popup
.popup {
    gap: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    border-radius: 10px;
    width: fit-content;
    z-index: 99;
}

.row_class {
    display: flex;
    flex-wrap: wrap;
}

.col {
    flex: 1 1 20%;
    /* Each item takes up 20% of the container width */
    box-sizing: border-box;
    /* Include padding and border in element's total width and height */
    padding: 10px;

}

.cross_button_popup {
    position: absolute;
    left: 26pc;
    top: 0px;
    cursor: pointer;
    width: fit-content;
}

.popup_container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    z-index: 99;
    border-radius: 10px
}




ul li {
    font-size: small;
    margin-top: 10px;
}

.in_stock {
    background: #EFFFEF;
    color: #008000;
    border-radius: 5px;
    padding: 3px 4px;
}

.out_stock {
    background: #FFE9E9;
    color: #F00;
    border-radius: 5px;
    padding: 3px 4px;
}

@media (max-width: 576px) {



    .big-card {
        padding: 10px 5px;
        margin-top: 30px;
    }

    .search_container .serch_section {
        margin: 0px !important;
        width: 100%;
        max-width: 100%;
    }

    .product-title {
        font-size: 20px !important;
    }

    .product-description {
        margin-bottom: 10px;
        margin-top: 10px;
    }

}

.card {
    height: auto;
    max-height: 270px;

}

@media (max-width: 786px) {
    .col {
        width: 165px;
        max-width: 165px;
        height: auto;
        border-radius: 8px;
    }

    .rounded-pills {
        padding: 1px 6px !important;
    }

    .price_sm,
    .discount-price_sm {
        font-size: small !important;
    }

    .Uses_ectivity {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        gap: 5px;
    }

    .Small_card_text {
        color: #000;
        font-family: "Source Sans Pro";
        font-size: 13px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
    }

    .Bredcrum {
        overflow: scroll;
    }

    .row_class {
        display: flex;
        justify-content: space-around !important;
    }

    .big-card {
        padding: 10px 5px;
        margin-top: 30px;
    }

    .product-title {
        font-size: 24px !important;
    }

    .search_container .serch_section {
        margin: 0px !important;
        width: 100%;
        max-width: 100%;
    }

    .nectar_product_detail {
        padding: 24px 5px 24px 5px;
    }

    .product-title {
        width: auto !important;
    }

    .p-md-5 {
        padding: 20px;
    }

    .contaier_format {

        padding: 0px;
        align-items: center;
        gap: 0px;
        margin-top: 0px !important;
    }

    .Order_list ul {
        display: flex;
        list-style: none;
        justify-content: space-between;
        gap: 15px;
    }

    .col {
        padding: 3px !important;
    }

}


@media (max-width: 1268px) {
    .contaier_format {
        padding: 0px !important;
    }

    .product-title {
        width: 382px;
    }
}